In [211]:
import pandas as pd
import numpy as np
import operator
from pathlib import Path
cwd = os.getcwd() # get path of current working directory
main_folder = str(Path(cwd).parents[0]) # main folder is the lowest level in project

In [212]:
cex84_02 = pd.read_stata(main_folder + "\data\cex84_02.dta")
cex84_02 = cex84_02[cex84_02.year >= 94]
cex84_02 = cex84_02[cex84_02.year <= 97]
cex84_02['ee'] = 0
cex84_02.loc[(cex84_02['year'] <=95) & (cex84_02['educatio'] >=21), 'ee'] = 1
cex84_02.loc[(cex84_02['year'] >=96) & (cex84_02['educatio'] >=40), 'ee'] = 1
cex84_02

,newid,age,relation,educatio,race,sex,weeksin,emplcont,incoll,nonwork,...,cpi1,cpi82,cpi_82,cpi00,cpi_00,cpi1_lag,cpi82_lag,cpi00_lag,cpi_97,ee
57681,57811,68,1,24,1,2,52,NaN,3.0,5.0,...,148.199997,96.5,1.535751,172.199997,0.860627,144.500000,1.497409,0.839141,0.923364,1
57682,57812,53,1,12,1,1,52,1.0,3.0,NaN,...,148.199997,96.5,1.535751,172.199997,0.860627,144.500000,1.497409,0.839141,0.923364,0
57683,57813,37,1,12,1,1,52,1.0,3.0,NaN,...,148.199997,96.5,1.535751,172.199997,0.860627,144.500000,1.497409,0.839141,0.923364,0
57684,57814,68,1,22,1,1,52,NaN,3.0,NaN,...,148.199997,96.5,1.535751,172.199997,0.860627,144.500000,1.497409,0.839141,0.923364,1
57685,57815,35,1,12,2,2,39,NaN,NaN,NaN,...,148.199997,96.5,1.535751,172.199997,0.860627,144.500000,1.497409,0.839141,0.923364,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86104,92654,40,1,44,1,2,13,2.0,2.0,NaN,...,160.500000,96.5,1.663212,172.199997,0.932056,156.899994,1.625907,0.911150,1.000000,1
86106,92656,18,1,39,1,1,13,NaN,1.0,NaN,...,160.500000,96.5,1.663212,172.199997,0.932056,156.899994,1.625907,0.911150,1.000000,0
86117,92667,34,1,41,1,2,13,2.0,3.0,NaN,...,160.500000,96.5,1.663212,172.199997,0.932056,156.899994,1.625907,0.911150,1.000000,1
86135,92685,18,1,40,1,1,13,NaN,1.0,3.0,...,160.500000,96.5,1.663212,172.199997,0.932056,156.899994,1.625907,0.911150,1.000000,1
86141,92691,28,1,45,1,1,13,2.0,3.0,NaN,...,160.500000,96.5,1.663212,172.199997,0.932056,156.899994,1.625907,0.911150,1.000000,1

In [213]:
cex84_02['meanee'] = cex84_02['ee'].mean()

In [214]:
cex84_02

,newid,age,relation,educatio,race,sex,weeksin,emplcont,incoll,nonwork,...,cpi82,cpi_82,cpi00,cpi_00,cpi1_lag,cpi82_lag,cpi00_lag,cpi_97,ee,meanee
57681,57811,68,1,24,1,2,52,NaN,3.0,5.0,...,96.5,1.535751,172.199997,0.860627,144.500000,1.497409,0.839141,0.923364,1,0.521694
57682,57812,53,1,12,1,1,52,1.0,3.0,NaN,...,96.5,1.535751,172.199997,0.860627,144.500000,1.497409,0.839141,0.923364,0,0.521694
57683,57813,37,1,12,1,1,52,1.0,3.0,NaN,...,96.5,1.535751,172.199997,0.860627,144.500000,1.497409,0.839141,0.923364,0,0.521694
57684,57814,68,1,22,1,1,52,NaN,3.0,NaN,...,96.5,1.535751,172.199997,0.860627,144.500000,1.497409,0.839141,0.923364,1,0.521694
57685,57815,35,1,12,2,2,39,NaN,NaN,NaN,...,96.5,1.535751,172.199997,0.860627,144.500000,1.497409,0.839141,0.923364,0,0.521694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86104,92654,40,1,44,1,2,13,2.0,2.0,NaN,...,96.5,1.663212,172.199997,0.932056,156.899994,1.625907,0.911150,1.000000,1,0.521694
86106,92656,18,1,39,1,1,13,NaN,1.0,NaN,...,96.5,1.663212,172.199997,0.932056,156.899994,1.625907,0.911150,1.000000,0,0.521694
86117,92667,34,1,41,1,2,13,2.0,3.0,NaN,...,96.5,1.663212,172.199997,0.932056,156.899994,1.625907,0.911150,1.000000,1,0.521694
86135,92685,18,1,40,1,1,13,NaN,1.0,3.0,...,96.5,1.663212,172.199997,0.932056,156.899994,1.625907,0.911150,1.000000,1,0.521694
86141,92691,28,1,45,1,1,13,2.0,3.0,NaN,...,96.5,1.663212,172.199997,0.932056,156.899994,1.625907,0.911150,1.000000,1,0.521694

In [215]:
#/*  total expenditure*/
cex84_02['totalexp1'] = cex84_02.loc[:, 'foodhome':'charity'].sum(axis=1)
cex84_02['totalexp'] = cex84_02['totalexp1'] + cex84_02['ohint'] + cex84_02['ohtax'] + cex84_02['ohmaint']
cex84_02 = cex84_02.drop(columns=['totalexp1'])
cex84_02

,newid,age,relation,educatio,race,sex,weeksin,emplcont,incoll,nonwork,...,cpi_82,cpi00,cpi_00,cpi1_lag,cpi82_lag,cpi00_lag,cpi_97,ee,meanee,totalexp
57681,57811,68,1,24,1,2,52,NaN,3.0,5.0,...,1.535751,172.199997,0.860627,144.500000,1.497409,0.839141,0.923364,1,0.521694,19856.200012
57682,57812,53,1,12,1,1,52,1.0,3.0,NaN,...,1.535751,172.199997,0.860627,144.500000,1.497409,0.839141,0.923364,0,0.521694,20149.000000
57683,57813,37,1,12,1,1,52,1.0,3.0,NaN,...,1.535751,172.199997,0.860627,144.500000,1.497409,0.839141,0.923364,0,0.521694,47880.000000
57684,57814,68,1,22,1,1,52,NaN,3.0,NaN,...,1.535751,172.199997,0.860627,144.500000,1.497409,0.839141,0.923364,1,0.521694,38343.349976
57685,57815,35,1,12,2,2,39,NaN,NaN,NaN,...,1.535751,172.199997,0.860627,144.500000,1.497409,0.839141,0.923364,0,0.521694,4516.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86104,92654,40,1,44,1,2,13,2.0,2.0,NaN,...,1.663212,172.199997,0.932056,156.899994,1.625907,0.911150,1.000000,1,0.521694,12130.960022
86106,92656,18,1,39,1,1,13,NaN,1.0,NaN,...,1.663212,172.199997,0.932056,156.899994,1.625907,0.911150,1.000000,0,0.521694,2671.000000
86117,92667,34,1,41,1,2,13,2.0,3.0,NaN,...,1.663212,172.199997,0.932056,156.899994,1.625907,0.911150,1.000000,1,0.521694,6042.000000
86135,92685,18,1,40,1,1,13,NaN,1.0,3.0,...,1.663212,172.199997,0.932056,156.899994,1.625907,0.911150,1.000000,1,0.521694,13170.000000
86141,92691,28,1,45,1,1,13,2.0,3.0,NaN,...,1.663212,172.199997,0.932056,156.899994,1.625907,0.911150,1.000000,1,0.521694,3127.000000

In [216]:
#/*expenditure used in this paper*/
cex84_02 = cex84_02.drop(columns=['autos'])
cex84_02['tt'] = cex84_02.loc[:, 'foodhome':'charity'].sum(axis=1)
cex84_02 = cex84_02[cex84_02.tt >= 0]

In [217]:
cex84_02['ltotexp'] = np.log(cex84_02['tt']) - np.log(cex84_02['cpi_97'])
cex84_02

,newid,age,relation,educatio,race,sex,weeksin,emplcont,incoll,nonwork,...,cpi_00,cpi1_lag,cpi82_lag,cpi00_lag,cpi_97,ee,meanee,totalexp,tt,ltotexp
57681,57811,68,1,24,1,2,52,NaN,3.0,5.0,...,0.860627,144.500000,1.497409,0.839141,0.923364,1,0.521694,19856.200012,18945.200012,9.929037
57682,57812,53,1,12,1,1,52,1.0,3.0,NaN,...,0.860627,144.500000,1.497409,0.839141,0.923364,0,0.521694,20149.000000,17131.000000,9.828376
57683,57813,37,1,12,1,1,52,1.0,3.0,NaN,...,0.860627,144.500000,1.497409,0.839141,0.923364,0,0.521694,47880.000000,40649.000000,10.692461
57684,57814,68,1,22,1,1,52,NaN,3.0,NaN,...,0.860627,144.500000,1.497409,0.839141,0.923364,1,0.521694,38343.349976,34663.599976,10.533177
57685,57815,35,1,12,2,2,39,NaN,NaN,NaN,...,0.860627,144.500000,1.497409,0.839141,0.923364,0,0.521694,4516.000000,4516.000000,8.495113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86104,92654,40,1,44,1,2,13,2.0,2.0,NaN,...,0.932056,156.899994,1.625907,0.911150,1.000000,1,0.521694,12130.960022,9609.960022,9.170555
86106,92656,18,1,39,1,1,13,NaN,1.0,NaN,...,0.932056,156.899994,1.625907,0.911150,1.000000,0,0.521694,2671.000000,2671.000000,7.890208
86117,92667,34,1,41,1,2,13,2.0,3.0,NaN,...,0.932056,156.899994,1.625907,0.911150,1.000000,1,0.521694,6042.000000,4092.000000,8.316789
86135,92685,18,1,40,1,1,13,NaN,1.0,3.0,...,0.932056,156.899994,1.625907,0.911150,1.000000,1,0.521694,13170.000000,1170.000000,7.064759
86141,92691,28,1,45,1,1,13,2.0,3.0,NaN,...,0.932056,156.899994,1.625907,0.911150,1.000000,1,0.521694,3127.000000,3127.000000,8.047829

In [218]:
cex84_02_div = pd.read_stata('cex84_02_div.dta')
cex84_02_div = cex84_02_div.drop(columns=['gambling', 'toiletry', 'housuppl'])
cex84_02_div

,newid,age,relation,educatio,race,sex,weeksin,emplcont,incoll,nonwork,...,cpi_00,cpi1_lag,cpi82_lag,cpi00_lag,cpi_97,ee,meanee,totalexp,tt,ltotexp
0,57811,68,1,24,1,2,52,NaN,3.0,5.0,...,0.860627,144.500000,1.497409,0.839141,0.923364,1.0,0.521694,19856.199219,18945.199219,9.929037
1,57812,53,1,12,1,1,52,1.0,3.0,NaN,...,0.860627,144.500000,1.497409,0.839141,0.923364,0.0,0.521694,20149.000000,17131.000000,9.828376
2,57813,37,1,12,1,1,52,1.0,3.0,NaN,...,0.860627,144.500000,1.497409,0.839141,0.923364,0.0,0.521694,47880.000000,40649.000000,10.692461
3,57814,68,1,22,1,1,52,NaN,3.0,NaN,...,0.860627,144.500000,1.497409,0.839141,0.923364,1.0,0.521694,38343.351562,34663.601562,10.533176
4,57815,35,1,12,2,2,39,NaN,NaN,NaN,...,0.860627,144.500000,1.497409,0.839141,0.923364,0.0,0.521694,4516.000000,4516.000000,8.495113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23293,92654,40,1,44,1,2,13,2.0,2.0,NaN,...,0.932056,156.899994,1.625907,0.911150,1.000000,1.0,0.521694,12130.959961,9609.959961,9.170555
23294,92656,18,1,39,1,1,13,NaN,1.0,NaN,...,0.932056,156.899994,1.625907,0.911150,1.000000,0.0,0.521694,2671.000000,2671.000000,7.890208
23295,92667,34,1,41,1,2,13,2.0,3.0,NaN,...,0.932056,156.899994,1.625907,0.911150,1.000000,1.0,0.521694,6042.000000,4092.000000,8.316789
23296,92685,18,1,40,1,1,13,NaN,1.0,3.0,...,0.932056,156.899994,1.625907,0.911150,1.000000,1.0,0.521694,13170.000000,1170.000000,7.064759
23297,92691,28,1,45,1,1,13,2.0,3.0,NaN,...,0.932056,156.899994,1.625907,0.911150,1.000000,1.0,0.521694,3127.000000,3127.000000,8.047830

In [219]:
#*aggregate some small expenses with similar expenses
cex84_02_div['foodout'] = cex84_02_div['foodout'] + cex84_02_div['foodwork'] 
cex84_02_div['renthome'] = cex84_02_div['renthome'] + cex84_02_div['rentothr']
cex84_02_div['pubs'] = cex84_02_div['pubs'] + cex84_02_div['books']
cex84_02_div['hospital'] = cex84_02_div['hospital'] + cex84_02_div['nurshome']
cex84_02_div['masstran'] = cex84_02_div['masstran'] + cex84_02_div['tolls']
cex84_02_div = cex84_02_div.drop(columns=['foodwork', 'rentothr', 'books', 'nurshome', 'tolls'])
cex84_02_div

,newid,age,relation,educatio,race,sex,weeksin,emplcont,incoll,nonwork,...,cpi_00,cpi1_lag,cpi82_lag,cpi00_lag,cpi_97,ee,meanee,totalexp,tt,ltotexp
0,57811,68,1,24,1,2,52,NaN,3.0,5.0,...,0.860627,144.500000,1.497409,0.839141,0.923364,1.0,0.521694,19856.199219,18945.199219,9.929037
1,57812,53,1,12,1,1,52,1.0,3.0,NaN,...,0.860627,144.500000,1.497409,0.839141,0.923364,0.0,0.521694,20149.000000,17131.000000,9.828376
2,57813,37,1,12,1,1,52,1.0,3.0,NaN,...,0.860627,144.500000,1.497409,0.839141,0.923364,0.0,0.521694,47880.000000,40649.000000,10.692461
3,57814,68,1,22,1,1,52,NaN,3.0,NaN,...,0.860627,144.500000,1.497409,0.839141,0.923364,1.0,0.521694,38343.351562,34663.601562,10.533176
4,57815,35,1,12,2,2,39,NaN,NaN,NaN,...,0.860627,144.500000,1.497409,0.839141,0.923364,0.0,0.521694,4516.000000,4516.000000,8.495113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23293,92654,40,1,44,1,2,13,2.0,2.0,NaN,...,0.932056,156.899994,1.625907,0.911150,1.000000,1.0,0.521694,12130.959961,9609.959961,9.170555
23294,92656,18,1,39,1,1,13,NaN,1.0,NaN,...,0.932056,156.899994,1.625907,0.911150,1.000000,0.0,0.521694,2671.000000,2671.000000,7.890208
23295,92667,34,1,41,1,2,13,2.0,3.0,NaN,...,0.932056,156.899994,1.625907,0.911150,1.000000,1.0,0.521694,6042.000000,4092.000000,8.316789
23296,92685,18,1,40,1,1,13,NaN,1.0,3.0,...,0.932056,156.899994,1.625907,0.911150,1.000000,1.0,0.521694,13170.000000,1170.000000,7.064759
23297,92691,28,1,45,1,1,13,2.0,3.0,NaN,...,0.932056,156.899994,1.625907,0.911150,1.000000,1.0,0.521694,3127.000000,3127.000000,8.047830

In [220]:
cex84_02_div['single'] = 1
cex84_02.loc[cex84_02['wife_ed'] >=1, 'single'] = 0 
cex84_02_div['wifeH'] = 0
cex84_02_div.loc[cex84_02_div['wife_ed'] >=2, 'wifeH'] = 1 #/*spouse with some college, wife_ed with college ==3*/

In [221]:
#**************THIS IS TABLE DESCRIPTIVE

cex84_02_div['exptot97'] = np.log(cex84_02_div['totalexp']/cex84_02_div['cpi_97'])
cex84_02_div['expnondur97'] = np.log(cex84_02_div['tt']/cex84_02_div['cpi_97'])
cex84_02_div['wages97'] = np.log(cex84_02_div['income']/cex84_02_div['cpi_97'])
cex84_02_div['sex'] = cex84_02_div['sex'] - 1
cex84_02_div

C:\Users\gimat\anaconda3\envs\assignment_week_6\lib\site-packages\pandas\core\arraylike.py:358: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\gimat\anaconda3\envs\assignment_week_6\lib\site-packages\pandas\core\arraylike.py:358: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,newid,age,relation,educatio,race,sex,weeksin,emplcont,incoll,nonwork,...,ee,meanee,totalexp,tt,ltotexp,single,wifeH,exptot97,expnondur97,wages97
0,57811,68,1,24,1,1,52,NaN,3.0,5.0,...,1.0,0.521694,19856.199219,18945.199219,9.929037,1,0,9.976003,9.929037,9.398836
1,57812,53,1,12,1,0,52,1.0,3.0,NaN,...,0.0,0.521694,20149.000000,17131.000000,9.828376,1,1,9.990642,9.828376,-inf
2,57813,37,1,12,1,0,52,1.0,3.0,NaN,...,0.0,0.521694,47880.000000,40649.000000,10.692461,1,1,10.856184,10.692461,-inf
3,57814,68,1,22,1,0,52,NaN,3.0,NaN,...,1.0,0.521694,38343.351562,34663.601562,10.533176,1,1,10.634068,10.533176,10.518718
4,57815,35,1,12,2,1,39,NaN,NaN,NaN,...,0.0,0.521694,4516.000000,4516.000000,8.495113,1,0,8.495113,8.495113,-inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23293,92654,40,1,44,1,1,13,2.0,2.0,NaN,...,1.0,0.521694,12130.959961,9609.959961,9.170555,1,0,9.403516,9.170555,10.900621
23294,92656,18,1,39,1,0,13,NaN,1.0,NaN,...,0.0,0.521694,2671.000000,2671.000000,7.890208,1,0,7.890208,7.890208,-inf
23295,92667,34,1,41,1,1,13,2.0,3.0,NaN,...,1.0,0.521694,6042.000000,4092.000000,8.316789,1,0,8.706491,8.316789,10.679711
23296,92685,18,1,40,1,0,13,NaN,1.0,3.0,...,1.0,0.521694,13170.000000,1170.000000,7.064759,1,0,9.485697,7.064759,-inf
23297,92691,28,1,45,1,0,13,2.0,3.0,NaN,...,1.0,0.521694,3127.000000,3127.000000,8.047830,1,0,8.047830,8.047830,-inf

In [222]:
cex84_02_div.rename(columns={'foodhome':'share_1', 'foodout':'share_2', 'tobacco':'share_3', 'alcohol':'share_4', 'niteclub':'share_5', 'clothes':'share_6','tailors':'share_7', 'jewelry':'share_8', 'hlthbeau':'share_9', 'renthome':'share_10', 'furnish':'share_11', 'elect':'share_12', 'gas':'share_13','water':'share_14', 'homefuel':'share_15','telephon':'share_16', 'servants':'share_17', 'drugs':'share_18', 'orthopd':'share_19', 'doctors':'share_20', 'hospital':'share_21', 'helthins':'share_22', 'busiserv':'share_23', 'lifeins':'share_24', 'parts':'share_25','carservs':'share_26', 'gasoline':'share_27', 'autoins':'share_28', 'masstran':'share_29', 'othtrans':'share_30', 'airfare':'share_31', 'pubs':'share_32', 'recsport':'share_33', 'othrec':'share_34', 'highedu':'share_35','lowedu':'share_36', 'othedu':'share_37', 'charity':'share_38'}, inplace=True)
cex84_02_div

,newid,age,relation,educatio,race,sex,weeksin,emplcont,incoll,nonwork,...,ee,meanee,totalexp,tt,ltotexp,single,wifeH,exptot97,expnondur97,wages97
0,57811,68,1,24,1,1,52,NaN,3.0,5.0,...,1.0,0.521694,19856.199219,18945.199219,9.929037,1,0,9.976003,9.929037,9.398836
1,57812,53,1,12,1,0,52,1.0,3.0,NaN,...,0.0,0.521694,20149.000000,17131.000000,9.828376,1,1,9.990642,9.828376,-inf
2,57813,37,1,12,1,0,52,1.0,3.0,NaN,...,0.0,0.521694,47880.000000,40649.000000,10.692461,1,1,10.856184,10.692461,-inf
3,57814,68,1,22,1,0,52,NaN,3.0,NaN,...,1.0,0.521694,38343.351562,34663.601562,10.533176,1,1,10.634068,10.533176,10.518718
4,57815,35,1,12,2,1,39,NaN,NaN,NaN,...,0.0,0.521694,4516.000000,4516.000000,8.495113,1,0,8.495113,8.495113,-inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23293,92654,40,1,44,1,1,13,2.0,2.0,NaN,...,1.0,0.521694,12130.959961,9609.959961,9.170555,1,0,9.403516,9.170555,10.900621
23294,92656,18,1,39,1,0,13,NaN,1.0,NaN,...,0.0,0.521694,2671.000000,2671.000000,7.890208,1,0,7.890208,7.890208,-inf
23295,92667,34,1,41,1,1,13,2.0,3.0,NaN,...,1.0,0.521694,6042.000000,4092.000000,8.316789,1,0,8.706491,8.316789,10.679711
23296,92685,18,1,40,1,0,13,NaN,1.0,3.0,...,1.0,0.521694,13170.000000,1170.000000,7.064759,1,0,9.485697,7.064759,-inf
23297,92691,28,1,45,1,0,13,2.0,3.0,NaN,...,1.0,0.521694,3127.000000,3127.000000,8.047830,1,0,8.047830,8.047830,-inf

In [223]:
filter_col = [col for col in cex84_02_div if col.startswith('share')]
filter_col

['share_1',
 'share_2',
 'share_3',
 'share_4',
 'share_5',
 'share_6',
 'share_7',
 'share_8',
 'share_9',
 'share_10',
 'share_11',
 'share_12',
 'share_13',
 'share_14',
 'share_15',
 'share_16',
 'share_17',
 'share_18',
 'share_19',
 'share_20',
 'share_21',
 'share_22',
 'share_23',
 'share_24',
 'share_25',
 'share_26',
 'share_27',
 'share_28',
 'share_29',
 'share_30',
 'share_31',
 'share_32',
 'share_33',
 'share_34',
 'share_35',
 'share_36',
 'share_37',
 'share_38']

In [193]:
cex84_02_div = cex84_02_div[['share_1',
 'share_2',
 'share_3',
 'share_4',
 'share_5',
 'share_6',
 'share_7',
 'share_8',
 'share_9',
 'share_10',
 'share_11',
 'share_12',
 'share_13',
 'share_14',
 'share_15',
 'share_16',
 'share_17',
 'share_18',
 'share_19',
 'share_20',
 'share_21',
 'share_22',
 'share_23',
 'share_24',
 'share_25',
 'share_26',
 'share_27',
 'share_28',
 'share_29',
 'share_30',
 'share_31',
 'share_32',
 'share_33',
 'share_34',
 'share_35',
 'share_36',
 'share_37',
 'share_38','year', 'ltotexp', 'age', 'ee', 'sex', 'nchild', 'year', 'meanee']]

In [194]:
cex84_02_div

,share_1,share_2,share_3,share_4,share_5,share_6,share_7,share_8,share_9,share_10,...,share_37,share_38,year,ltotexp,age,ee,sex,nchild,year,meanee
0,0.170861,0.038004,0.000000,0.023278,0.007284,0.015043,0.007231,0.000000,0.058273,0.007073,...,0.000000,0.015835,94.0,9.929037,68,1.0,1,0.0,94.0,0.521694
1,0.248088,0.122526,0.000000,0.000000,0.000992,0.034207,0.003211,0.000000,0.019964,0.007997,...,0.000000,0.001167,94.0,9.828376,53,0.0,0,1.0,94.0,0.521694
2,0.140372,0.086005,0.000000,0.016015,0.005904,0.063200,0.004920,0.001722,0.009963,0.022141,...,0.001107,0.000000,94.0,10.692461,37,0.0,0,2.0,94.0,0.521694
3,0.128665,0.070391,0.024002,0.000000,0.001731,0.132733,0.005885,0.006174,0.020079,0.001875,...,0.008655,0.063467,94.0,10.533176,68,1.0,0,0.0,94.0,0.521694
4,0.437555,0.026572,0.000000,0.003322,0.000000,0.032551,0.015500,0.000000,0.038530,0.070416,...,0.000000,0.000000,94.0,8.495113,35,0.0,1,1.0,94.0,0.521694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23293,0.088970,0.045266,0.000000,0.004683,0.003122,0.096775,0.053070,0.031218,0.006244,0.000000,...,0.013007,0.078564,97.0,9.170555,40,1.0,1,0.0,97.0,0.521694
23294,0.048671,0.172220,0.000000,0.000000,0.000000,0.088731,0.000000,0.000000,0.007862,0.219019,...,0.000000,0.000000,97.0,7.890208,18,0.0,0,0.0,97.0,0.521694
23295,0.190616,0.130010,0.095308,0.036657,0.014174,0.010020,0.000000,0.000000,0.008798,0.205279,...,0.000489,0.000000,97.0,8.316789,34,1.0,1,1.0,97.0,0.521694
23296,0.333333,0.401709,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.025641,0.000000,...,0.000000,0.000000,97.0,7.064759,18,1.0,0,0.0,97.0,0.521694
23297,0.228654,0.047969,0.000000,0.000000,0.009594,0.115126,0.009594,0.000000,0.019188,0.169492,...,0.000000,0.000000,97.0,8.047830,28,1.0,0,0.0,97.0,0.521694

In [195]:
cex84_02_div['id'] = np.arange(1, len(cex84_02_div)+1)
cex84_02_div

<ipython-input-195-714d7b4112dc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cex84_02_div['id'] = np.arange(1, len(cex84_02_div)+1)

,share_1,share_2,share_3,share_4,share_5,share_6,share_7,share_8,share_9,share_10,...,share_38,year,ltotexp,age,ee,sex,nchild,year,meanee,id
0,0.170861,0.038004,0.000000,0.023278,0.007284,0.015043,0.007231,0.000000,0.058273,0.007073,...,0.015835,94.0,9.929037,68,1.0,1,0.0,94.0,0.521694,1
1,0.248088,0.122526,0.000000,0.000000,0.000992,0.034207,0.003211,0.000000,0.019964,0.007997,...,0.001167,94.0,9.828376,53,0.0,0,1.0,94.0,0.521694,2
2,0.140372,0.086005,0.000000,0.016015,0.005904,0.063200,0.004920,0.001722,0.009963,0.022141,...,0.000000,94.0,10.692461,37,0.0,0,2.0,94.0,0.521694,3
3,0.128665,0.070391,0.024002,0.000000,0.001731,0.132733,0.005885,0.006174,0.020079,0.001875,...,0.063467,94.0,10.533176,68,1.0,0,0.0,94.0,0.521694,4
4,0.437555,0.026572,0.000000,0.003322,0.000000,0.032551,0.015500,0.000000,0.038530,0.070416,...,0.000000,94.0,8.495113,35,0.0,1,1.0,94.0,0.521694,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23293,0.088970,0.045266,0.000000,0.004683,0.003122,0.096775,0.053070,0.031218,0.006244,0.000000,...,0.078564,97.0,9.170555,40,1.0,1,0.0,97.0,0.521694,23294
23294,0.048671,0.172220,0.000000,0.000000,0.000000,0.088731,0.000000,0.000000,0.007862,0.219019,...,0.000000,97.0,7.890208,18,0.0,0,0.0,97.0,0.521694,23295
23295,0.190616,0.130010,0.095308,0.036657,0.014174,0.010020,0.000000,0.000000,0.008798,0.205279,...,0.000000,97.0,8.316789,34,1.0,1,1.0,97.0,0.521694,23296
23296,0.333333,0.401709,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.025641,0.000000,...,0.000000,97.0,7.064759,18,1.0,0,0.0,97.0,0.521694,23297
23297,0.228654,0.047969,0.000000,0.000000,0.009594,0.115126,0.009594,0.000000,0.019188,0.169492,...,0.000000,97.0,8.047830,28,1.0,0,0.0,97.0,0.521694,23298

In [203]:
#wide to long 
wide_to_long = pd.read_stata('wide_to_long.dta')
wide_to_long

,id,ind,age,sex,nchild,share,year,ee,meanee,ltotexp
0,1.0,1,68,1,0.0,0.170861,94.0,1.0,0.521694,9.929037
1,1.0,2,68,1,0.0,0.038004,94.0,1.0,0.521694,9.929037
2,1.0,3,68,1,0.0,0.000000,94.0,1.0,0.521694,9.929037
3,1.0,4,68,1,0.0,0.023278,94.0,1.0,0.521694,9.929037
4,1.0,5,68,1,0.0,0.007284,94.0,1.0,0.521694,9.929037
...,...,...,...,...,...,...,...,...,...,...
885319,23298.0,34,28,0,0.0,0.009594,97.0,1.0,0.521694,8.047830
885320,23298.0,35,28,0,0.0,0.000000,97.0,1.0,0.521694,8.047830
885321,23298.0,36,28,0,0.0,0.000000,97.0,1.0,0.521694,8.047830
885322,23298.0,37,28,0,0.0,0.000000,97.0,1.0,0.521694,8.047830
885323,23298.0,38,28,0,0.0,0.000000,97.0,1.0,0.521694,8.047830

In [243]:
wl1 = wide_to_long.groupby('ind')['share', 'meanee'].mean()
wl2 = wide_to_long.groupby('ind')['share'].agg(['std'])
wl3 = pd.merge(wl1, wl2, on='ind').rename(columns={'std': 'sigmash'})
wl3['sigmash'] = wl3['sigmash']**2
wl3

<ipython-input-243-0b9079d73d9c>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  wl1 = wide_to_long.groupby('ind')['share', 'meanee'].mean()

        share    meanee   sigmash
ind
1    0.182473  0.521694  0.010237
2    0.055977  0.521694  0.002969
3    0.014688  0.521694  0.000890
4    0.007091  0.521694  0.000247
5    0.006383  0.521694  0.000279
6    0.047360  0.521694  0.002110
7    0.006510  0.521694  0.000111
8    0.004512  0.521694  0.000330
9    0.013001  0.521694  0.000226
10   0.130707  0.521694  0.026813
11   0.033699  0.521694  0.003143
12   0.044493  0.521694  0.001436
13   0.014779  0.521694  0.000622
14   0.012799  0.521694  0.000300
15   0.004648  0.521694  0.000296
16   0.039301  0.521694  0.001014
17   0.021974  0.521694  0.001362
18   0.009991  0.521694  0.000711
19   0.002991  0.521694  0.000115
20   0.017219  0.521694  0.001386
21   0.003381  0.521694  0.000687
22   0.040409  0.521694  0.003093
23   0.014537  0.521694  0.001894
24   0.013880  0.521694  0.000782
25   0.006232  0.521694  0.000222
26   0.030496  0.521694  0.002417
27   0.051176  0.521694  0.001648
28   0.032027  0.521694  0.001349
29   0.003540  0.521694  0.000157
30   0.002683  0.521694  0.000126
31   0.008598  0.521694  0.000542
32   0.019781  0.521694  0.000831
33   0.024454  0.521694  0.002423
34   0.039274  0.521694  0.001337
35   0.012216  0.521694  0.003324
36   0.007497  0.521694  0.000968
37   0.002128  0.521694  0.000187
38   0.017097  0.521694  0.002243

In [244]:
wl3.to_stata('shares')

In [247]:
dummies = pd.get_dummies(wide_to_long['ind'])
wide_to_long_w_dummies = pd.concat([wide_to_long, dummies], axis=1)
wide_to_long_w_dummies

,1,2,3,4,5,6,7,8,9,10,...,29,30,31,32,33,34,35,36,37,38
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885319,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
885320,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
885321,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
885322,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
885323,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [259]:
#Unable to allocate 5.70 TiB for an array with shape (885286, 885324) and data type float64
# ltotexp_dum = dummies*wide_to_long['ltotexp']

In [ ]:
for var dum1-dum38: gen lX=ltotexp*X
for var dum1-dum38: gen nX=nchild*X
for var dum1-dum38: gen aX=age*X
for var dum1-dum38: gen sX=sex*X