In [1]:
import pandas as pd
import numpy as np
import operator
from pathlib import Path
cwd = os.getcwd() # get path of current working directory
main_folder = str(Path(cwd).parents[0]) # main folder is the lowest level in project

In [2]:
morg79 = pd.read_stata(main_folder + "\data\morg79.dta")
morg80 = pd.read_stata(main_folder + "\data\morg80.dta")

In [3]:
morg79["year"]=1980

In [4]:
morg79_new = morg79[["year", "age", "sex", "race", "esr", "gradeat", "ind70", "dind", "earnwke", "uhourse"]]

In [5]:
#append using
morg_joint = morg79_new.append(morg80)

In [6]:
morg_joint_2 = morg_joint[["year", "age", "sex", "race", "esr", "gradeat", "ind70", "dind", "earnwke", "uhourse"]]

In [7]:
morg_joint_2 = morg_joint_2[morg_joint_2.esr == 1]

In [8]:
morg_joint_2.columns

Index(['year', 'age', 'sex', 'race', 'esr', 'gradeat', 'ind70', 'dind',
       'earnwke', 'uhourse'],
      dtype='object')

In [9]:
"""*H/L PER YEAR """

'*H/L PER YEAR '

In [10]:
morg_joint_2.loc[morg_joint_2['year'] == 1980,'skill'] = 0
morg_joint_2.loc[morg_joint_2['gradeat'] > 12,'skill'] = 1
morg_joint_2.loc[morg_joint_2['skill'] == 0, 'l'] = 0
morg_joint_2.loc[morg_joint_2['skill'] == 1, 'h'] = 1

'''
morg_joint_2.loc[morg_joint_2[np.logical_and(morg_joint_2['gradeat'] > 12, morg_joint_2['gradeat'] == np.nan)], 'skill'] = 1
'''

"\nmorg_joint_2.loc[morg_joint_2[np.logical_and(morg_joint_2['gradeat'] > 12, morg_joint_2['gradeat'] == np.nan)], 'skill'] = 1\n"

In [11]:
morg_joint_2

,year,age,sex,race,esr,gradeat,ind70,dind,earnwke,uhourse,skill,l,h
0,1980,40,1,1,1,10,278.0,19.0,240.0,40.0,0.0,0.0,NaN
1,1980,36,2,1,1,12,838.0,41.0,280.0,40.0,0.0,0.0,NaN
4,1980,40,2,1,1,12,278.0,19.0,207.0,40.0,0.0,0.0,NaN
6,1980,42,1,1,1,12,338.0,24.0,454.0,35.0,0.0,0.0,NaN
7,1980,39,2,1,1,12,18.0,1.0,207.0,40.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
385931,1980,32,2,1,1,12,158.0,9.0,300.0,40.0,0.0,0.0,NaN
385933,1980,20,2,1,1,12,858.0,43.0,340.0,40.0,0.0,0.0,NaN
385935,1980,28,1,1,1,12,407.0,29.0,499.0,40.0,0.0,0.0,NaN
385937,1980,26,1,1,1,16,77.0,4.0,390.0,40.0,1.0,NaN,1.0
385938,1980,24,2,1,1,13,49.0,3.0,162.0,40.0,1.0,NaN,1.0

In [12]:
""" *INDUSTRY 
"""

' *INDUSTRY \n'

In [13]:
morg_joint_3 = morg_joint_2.rename(columns={'dind': 'ind_nber'})
morg_joint_3['ind'] = np.nan

In [14]:
morg_joint_3.loc[morg_joint_3['ind_nber'] == 19, 'ind'] = 1 #food home
morg_joint_3.loc[morg_joint_3['ind70'] == 669, 'ind'] = 2 #food out
morg_joint_3.loc[morg_joint_3['ind_nber'] == 20, 'ind'] = 3 #tobacco
morg_joint_3.loc[morg_joint_3['ind70'] == 289, 'ind'] = 4 #alchol off premises
morg_joint_3.loc[morg_joint_3['ind70'] == 9999999999999, 'ind'] = 5 #niteclub
morg_joint_3.loc[morg_joint_3['ind_nber'] == 22, 'ind'] = 6 #clothing shoes
morg_joint_3.loc[morg_joint_3['ind_nber'] == 38, 'ind'] = 7 #clothing services
morg_joint_3.loc[morg_joint_3['ind70'] == 249, 'ind'] = 8 #jewelry prof equipment
morg_joint_3.loc[morg_joint_3['ind_nber'] == 39, 'ind'] = 9 #beauty shops
morg_joint_3.loc[morg_joint_3['ind_nber'] == 4, 'ind'] = 10 #housing

morg_joint_3.loc[morg_joint_3['ind_nber'] == 6, 'ind'] = 11 #furniture household appliances
morg_joint_3.loc[morg_joint_3['ind70'] == 467, 'ind'] = 12 #lectricity
morg_joint_3.loc[morg_joint_3['ind70'] == 469, 'ind'] = 13 #gas
morg_joint_3.loc[morg_joint_3['ind70'] == 477, 'ind'] = 14 #water
morg_joint_3.loc[morg_joint_3['ind_nber'] == 26, 'ind'] = 15 #fuel oil
morg_joint_3.loc[morg_joint_3['ind_nber'] == 30, 'ind'] = 16 #telephone
morg_joint_3.loc[morg_joint_3['ind_nber'] == 36, 'ind'] = 17 #domestic services
morg_joint_3.loc[morg_joint_3['ind_nber'] == 25, 'ind'] = 18 #drugs
morg_joint_3.loc[morg_joint_3['ind70'] == 247, 'ind'] = 19 #oftamic products
morg_joint_3.loc[np.logical_or(np.logical_and(morg_joint_3['ind70'] >= 828,morg_joint_2['ind70'] <= 837),np.logical_and(morg_joint_3['ind70'] >= 847,morg_joint_2['ind70'] <= 848)), 'ind'] = 20 #doctors

morg_joint_3.loc[morg_joint_3['ind_nber'] == 41, 'ind'] = 21 #hospitals
morg_joint_3.loc[morg_joint_3['ind_nber'] == 35, 'ind'] = 22 #insurance
morg_joint_3.loc[np.logical_or(morg_joint_3['ind_nber'] == 37,morg_joint_3['ind_nber'] == 45), 'ind'] = 23 #+BUSINESS SERV.39
morg_joint_3.loc[morg_joint_3['ind_nber'] == 9999999999, 'ind'] = 24 #insurance
morg_joint_3.loc[np.logical_or(morg_joint_3['ind70'] == 177,morg_joint_3['ind70'] == 198), 'ind'] = 25 #auto parts
morg_joint_3.loc[morg_joint_3['ind_nber'] == 38, 'ind'] = 26 #auto service
morg_joint_3.loc[morg_joint_3['ind70'] == 558, 'ind'] = 27 #fuel
morg_joint_3.loc[morg_joint_3['ind70'] == 99999999999, 'ind'] = 28 #auto insur
morg_joint_3.loc[morg_joint_3['ind70'] == 408, 'ind'] = 29 #roads
morg_joint_3.loc[morg_joint_3['ind70'] == 407, 'ind'] = 30 #taxi bus railway

morg_joint_3.loc[morg_joint_3['ind70'] == 427, 'ind'] = 31 #air fares
morg_joint_3.loc[morg_joint_3['ind_nber'] == 23, 'ind'] = 32
morg_joint_3.loc[np.logical_or(np.logical_and(morg_joint_3['ind70'] >= 239,morg_joint_2['ind70'] <= 246),np.logical_and(morg_joint_3['ind70'] >= 250,morg_joint_2['ind70'] <= 257)), 'ind'] = 33 #recreation equipment
morg_joint_3.loc[morg_joint_3['ind_nber'] == 40, 'ind'] = 34 #oth recreation
morg_joint_3.loc[morg_joint_3['ind70'] == 858, 'ind'] = 35 #high educ
morg_joint_3.loc[morg_joint_3['ind70'] == 857, 'ind'] = 36 #elem educ
morg_joint_3.loc[morg_joint_3['ind70'] == 867, 'ind'] = 37 #other educ
morg_joint_3.loc[morg_joint_3['ind_nber'] == 44, 'ind'] = 38 #relig and welfare

In [15]:
morg_joint_3

,year,age,sex,race,esr,gradeat,ind70,ind_nber,earnwke,uhourse,skill,l,h,ind
0,1980,40,1,1,1,10,278.0,19.0,240.0,40.0,0.0,0.0,NaN,1.0
1,1980,36,2,1,1,12,838.0,41.0,280.0,40.0,0.0,0.0,NaN,21.0
4,1980,40,2,1,1,12,278.0,19.0,207.0,40.0,0.0,0.0,NaN,1.0
6,1980,42,1,1,1,12,338.0,24.0,454.0,35.0,0.0,0.0,NaN,NaN
7,1980,39,2,1,1,12,18.0,1.0,207.0,40.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385931,1980,32,2,1,1,12,158.0,9.0,300.0,40.0,0.0,0.0,NaN,NaN
385933,1980,20,2,1,1,12,858.0,43.0,340.0,40.0,0.0,0.0,NaN,35.0
385935,1980,28,1,1,1,12,407.0,29.0,499.0,40.0,0.0,0.0,NaN,30.0
385937,1980,26,1,1,1,16,77.0,4.0,390.0,40.0,1.0,NaN,1.0,10.0
385938,1980,24,2,1,1,13,49.0,3.0,162.0,40.0,1.0,NaN,1.0,NaN

In [16]:
labels = {1: 'Food',
2: 'Eating_places',
3: 'Tobacco',
4: 'Beverage', 
5: 'Drinking_places',  
6: 'Apparel',
7: 'Repair_serv', 
8: 'Jewelry',
9: 'Personal_Services',
10: 'Housing',
11: 'Housh_Supplies',
12: 'Electricity',
13: 'Gas',
14: 'Water',
15: 'Petroleum',
16: 'Communications',
17: 'Hous_Services',
18: 'Drugs',
19: 'Optical_equip',
20: 'Health_services', 
21: 'Hospitals',
22: 'Insurance',
23: 'Business_serv',
24: 'Insurance',
25: 'Motor_equip',
26: 'Repair_motor',
27: 'Petroleum',
28: 'Insurance',
29: 'Railways',
30: 'Railroads',
31: 'Air_transp',
31: 'Newspaper',
33: 'Profes_equip',
34: 'Entertainment',
35: 'College_university', 
36: 'Elementary_school', 
37: 'Educational_serv',
38: 'Social_serv'}

In [17]:
morg_joint_3["labels"] = morg_joint_3["ind"].map(labels)

In [18]:
morg_joint_3

,year,age,sex,race,esr,gradeat,ind70,ind_nber,earnwke,uhourse,skill,l,h,ind,labels
0,1980,40,1,1,1,10,278.0,19.0,240.0,40.0,0.0,0.0,NaN,1.0,Food
1,1980,36,2,1,1,12,838.0,41.0,280.0,40.0,0.0,0.0,NaN,21.0,Hospitals
4,1980,40,2,1,1,12,278.0,19.0,207.0,40.0,0.0,0.0,NaN,1.0,Food
6,1980,42,1,1,1,12,338.0,24.0,454.0,35.0,0.0,0.0,NaN,NaN,NaN
7,1980,39,2,1,1,12,18.0,1.0,207.0,40.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385931,1980,32,2,1,1,12,158.0,9.0,300.0,40.0,0.0,0.0,NaN,NaN,NaN
385933,1980,20,2,1,1,12,858.0,43.0,340.0,40.0,0.0,0.0,NaN,35.0,College_university
385935,1980,28,1,1,1,12,407.0,29.0,499.0,40.0,0.0,0.0,NaN,30.0,Railroads
385937,1980,26,1,1,1,16,77.0,4.0,390.0,40.0,1.0,NaN,1.0,10.0,Housing
385938,1980,24,2,1,1,13,49.0,3.0,162.0,40.0,1.0,NaN,1.0,NaN,NaN

In [19]:
morg_joint_3['degree'] = morg_joint_3[morg_joint_3['year'] == 1980].groupby('labels')['h'].transform('count')
morg_joint_3['degree'] = morg_joint_3['degree'].fillna(69011)
morg_joint_3['nodegree'] = morg_joint_3[morg_joint_3['year'] == 1980].groupby('labels')['l'].transform('count')
morg_joint_3['nodegree'] = morg_joint_3['nodegree'].fillna(123182)

In [20]:
morg_joint_3

,year,age,sex,race,esr,gradeat,ind70,ind_nber,earnwke,uhourse,skill,l,h,ind,labels,degree,nodegree
0,1980,40,1,1,1,10,278.0,19.0,240.0,40.0,0.0,0.0,NaN,1.0,Food,1492.0,4823.0
1,1980,36,2,1,1,12,838.0,41.0,280.0,40.0,0.0,0.0,NaN,21.0,Hospitals,8559.0,7212.0
4,1980,40,2,1,1,12,278.0,19.0,207.0,40.0,0.0,0.0,NaN,1.0,Food,1492.0,4823.0
6,1980,42,1,1,1,12,338.0,24.0,454.0,35.0,0.0,0.0,NaN,NaN,NaN,69011.0,123182.0
7,1980,39,2,1,1,12,18.0,1.0,207.0,40.0,0.0,0.0,NaN,NaN,NaN,69011.0,123182.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385931,1980,32,2,1,1,12,158.0,9.0,300.0,40.0,0.0,0.0,NaN,NaN,NaN,69011.0,123182.0
385933,1980,20,2,1,1,12,858.0,43.0,340.0,40.0,0.0,0.0,NaN,35.0,College_university,6942.0,1732.0
385935,1980,28,1,1,1,12,407.0,29.0,499.0,40.0,0.0,0.0,NaN,30.0,Railroads,723.0,1902.0
385937,1980,26,1,1,1,16,77.0,4.0,390.0,40.0,1.0,NaN,1.0,10.0,Housing,7295.0,18554.0
385938,1980,24,2,1,1,13,49.0,3.0,162.0,40.0,1.0,NaN,1.0,NaN,NaN,69011.0,123182.0

In [21]:
morg_joint_3['total'] = morg_joint_3['degree'] + morg_joint_3['nodegree'] 
morg_joint_3['ratio80'] = morg_joint_3['degree']/morg_joint_3['total'] 
morg_joint_3 = morg_joint_3.drop(columns=['degree', 'nodegree'])

In [22]:
morg_joint_3

,year,age,sex,race,esr,gradeat,ind70,ind_nber,earnwke,uhourse,skill,l,h,ind,labels,total,ratio80
0,1980,40,1,1,1,10,278.0,19.0,240.0,40.0,0.0,0.0,NaN,1.0,Food,6315.0,0.236263
1,1980,36,2,1,1,12,838.0,41.0,280.0,40.0,0.0,0.0,NaN,21.0,Hospitals,15771.0,0.542705
4,1980,40,2,1,1,12,278.0,19.0,207.0,40.0,0.0,0.0,NaN,1.0,Food,6315.0,0.236263
6,1980,42,1,1,1,12,338.0,24.0,454.0,35.0,0.0,0.0,NaN,NaN,NaN,192193.0,0.359071
7,1980,39,2,1,1,12,18.0,1.0,207.0,40.0,0.0,0.0,NaN,NaN,NaN,192193.0,0.359071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385931,1980,32,2,1,1,12,158.0,9.0,300.0,40.0,0.0,0.0,NaN,NaN,NaN,192193.0,0.359071
385933,1980,20,2,1,1,12,858.0,43.0,340.0,40.0,0.0,0.0,NaN,35.0,College_university,8674.0,0.800323
385935,1980,28,1,1,1,12,407.0,29.0,499.0,40.0,0.0,0.0,NaN,30.0,Railroads,2625.0,0.275429
385937,1980,26,1,1,1,16,77.0,4.0,390.0,40.0,1.0,NaN,1.0,10.0,Housing,25849.0,0.282216
385938,1980,24,2,1,1,13,49.0,3.0,162.0,40.0,1.0,NaN,1.0,NaN,NaN,192193.0,0.359071

In [23]:
morg_joint_3.to_stata('temp')

In [24]:
#collapse (right output but cannot save as dta)
morg_joint_3 = morg_joint_3.groupby('labels')['ratio80'].mean()
morg_joint_3

labels
Apparel               0.135813
Beverage              0.338983
Business_serv         0.619535
College_university    0.800323
Communications        0.457688
Drugs                 0.467164
Eating_places         0.265507
Educational_serv      0.719072
Electricity           0.422295
Elementary_school     0.698943
Entertainment         0.441245
Food                  0.236263
Gas                   0.378031
Health_services       0.670669
Hospitals             0.542705
Hous_Services         0.130806
Housh_Supplies        0.162919
Housing               0.282216
Insurance             0.531460
Jewelry               0.241667
Motor_equip           0.297235
Newspaper             0.549901
Optical_equip         0.354658
Personal_Services     0.273007
Petroleum             0.430036
Profes_equip          0.410437
Railroads             0.275429
Railways              0.276596
Repair_motor          0.239552
Social_serv           0.590352
Tobacco               0.254717
Water                 0.346320
Name: ratio80, dtype: float64

In [25]:
morg_joint_3_1 = pd.DataFrame(morg_joint_3)
morg_joint_3_1
morg_joint_3_1.to_stata('skillintUS')

In [26]:
'''
#other solution for stata collapse fnc

morg_joint_3 = morg_joint_3[["labels", 'ratio80']].dropna().sort_values(["labels"]).drop_duplicates()
morg_joint_3.to_stata('skillintUS')
morg_joint_3
'''

'\n#other solution for stata collapse fnc\n\nmorg_joint_3 = morg_joint_3[["labels", \'ratio80\']].dropna().sort_values(["labels"]).drop_duplicates()\nmorg_joint_3.to_stata(\'skillintUS\')\nmorg_joint_3\n'

In [27]:
'''
pd.read_stata('skillintUS').drop(columns=['index'])
'''

"\npd.read_stata('skillintUS').drop(columns=['index'])\n"

In [28]:
temp = pd.read_stata('temp')
temp = temp.groupby('ind_nber')['ratio80'].mean()
temp1 = pd.DataFrame(temp)
temp1
temp1.to_stata('skillpropUS')

In [29]:
#*DO SKILL OECD using input-output tables 1995
'''
temp = pd.read_stata('temp')
temp = temp[['ind_nber', 'ratio80']].dropna().sort_values(['ind_nber']).drop_duplicates()
temp.to_stata('skillpropUS')
temp
'''

"\ntemp = pd.read_stata('temp')\ntemp = temp[['ind_nber', 'ratio80']].dropna().sort_values(['ind_nber']).drop_duplicates()\ntemp.to_stata('skillpropUS')\ntemp\n"

In [63]:
tableI0 = pd.read_stata(r"C:\Users\gimat\Desktop\BONN\3WiSe2021\EPP2\TermPaper\1\113590-V1\replication\EPP_replication\the_effect_of_product_demand_on_inequality\data\tableIO.dta", "r")

In [64]:
tableI0
#for var c1-c126: replace X=X/X[140]

,code,industry,c1,c2,c3,c4,c5,c6,c7,c8,...,c117,c118,c119,c120,c121,c122,c123,c124,c125,c126
0,1110,Crop products,7240.7,26093.7,0.000000,0.000000,662.799988,0.400000,0.000000,0.000000,...,87.300003,10.900000,171.399994,173.6,2802.6,0.400000,0.000000,0.000000,6.0,42.000000
1,1120,Animal products,0.0,16805.5,35.000000,0.000000,1155.199951,0.000000,0.000000,0.000000,...,2.000000,36.299999,80.400002,31.2,1404.2,0.000000,0.000000,81.500000,0.0,3.900000
2,1130,Forestry and logging products,5.3,0.0,7899.399902,0.000000,24.799999,0.000000,14.300000,0.000000,...,0.000000,1.900000,0.000000,0.0,0.0,0.000000,0.000000,45.299999,0.0,0.000000
3,1140,Fish and other nonfarm animals,0.0,0.0,0.000000,322.200012,0.000000,0.000000,0.000000,0.000000,...,1.800000,2.000000,67.699997,166.2,2973.4,0.000000,0.000000,0.000000,0.0,26.100000
4,1150,Agriculture and forestry support services,8978.0,1931.5,2988.300049,795.799988,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,T006,Total value added,65788.0,15692.3,14316.500000,3342.600098,6509.500000,36736.398438,10862.299805,4922.299805,...,36917.500000,30140.699219,45416.699219,76694.0,149626.6,43022.898438,35966.398438,55553.601562,36420.5,23189.400391
136,V001,Compensation of employees,12616.5,5840.4,3181.100098,512.099976,5983.700195,6835.200195,5414.500000,2634.500000,...,30731.099609,18475.000000,23076.199219,39223.6,100266.6,21535.900391,17342.099609,24445.599609,36390.5,22863.400391
137,V002,Indirect business tax and nontax liability,2570.9,1831.5,824.500000,351.700012,272.700012,6899.399902,2322.000000,530.099976,...,467.799988,2345.699951,4043.300049,8110.6,17326.7,3368.699951,1307.599976,2341.100098,30.0,326.000000
138,V003,Other value added,50600.6,8020.4,10310.900391,2478.800049,253.100006,23001.800781,3125.800049,1757.699951,...,5718.600098,9320.000000,18297.199219,29359.8,32033.3,18118.300781,17316.699219,28766.900391,0.0,0.000000
139,T008,Total industry output,134933.7,105106.8,28115.000000,6048.000000,12335.200195,91574.796875,23407.800781,11291.000000,...,66884.500000,55417.601562,71821.898438,113584.4,299768.8,84918.203125,55508.101562,91814.500000,54851.5,48695.000000

In [65]:
tableI0_1 = tableI0.drop(tableI0.loc[:, 'c1':'c126'], axis=1)
columns =  tableI0.loc[:, 'c1':'c126'].loc[0:139]
new_col = columns/columns.loc[139]
tableI0_2 = pd.concat([tableI0_new, new_col], axis=1)
tableI0_2

NameError: name 'tableI0_new' is not defined

In [541]:
row136 = tableI0_2.loc[[136]]
row136['id'] = np.arange(1, len(row136)+1)
row136

,code,industry,c1,c2,c3,c4,c5,c6,c7,c8,...,c118,c119,c120,c121,c122,c123,c124,c125,c126,id
136,V001,Compensation of employees,0.093501,0.055566,0.113146,0.084673,0.485091,0.074641,0.231312,0.233327,...,0.333378,0.321298,0.345326,0.33448,0.253608,0.312425,0.26625,0.663437,0.469523,1

In [542]:
new_row136 = pd.wide_to_long(row136, ["c"], i='id', j="sic")
new_row136 = new_row136.rename(columns={'c': 'wshare'})
new_row136
new_row136.to_stata('wages')
new_row136

        code                   industry    wshare
id sic
1  1    V001  Compensation of employees  0.093501
   2    V001  Compensation of employees  0.055566
   3    V001  Compensation of employees  0.113146
   4    V001  Compensation of employees  0.084673
   5    V001  Compensation of employees  0.485091
...      ...                        ...       ...
   122  V001  Compensation of employees  0.253608
   123  V001  Compensation of employees  0.312425
   124  V001  Compensation of employees  0.266250
   125  V001  Compensation of employees  0.663437
   126  V001  Compensation of employees  0.469523

[126 rows x 3 columns]

In [543]:
#input shares

tableI0_2['sic'] = np.arange(1, len(tableI0_2)+1)
tableI0_2['ind_nber'] = np.nan
tableI0_2

,code,industry,c1,c2,c3,c4,c5,c6,c7,c8,...,c119,c120,c121,c122,c123,c124,c125,c126,sic,ind_nber
0,1110,Crop products,0.053661,0.248259,0.000000,0.000000,0.053732,0.000004,0.000000,0.000000,...,0.002386,0.001528,0.009349,0.000005,0.000000,0.000000,0.000109,0.000863,1,NaN
1,1120,Animal products,0.000000,0.159890,0.001245,0.000000,0.093651,0.000000,0.000000,0.000000,...,0.001119,0.000275,0.004684,0.000000,0.000000,0.000888,0.000000,0.000080,2,NaN
2,1130,Forestry and logging products,0.000039,0.000000,0.280967,0.000000,0.002011,0.000000,0.000611,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000493,0.000000,0.000000,3,NaN
3,1140,Fish and other nonfarm animals,0.000000,0.000000,0.000000,0.053274,0.000000,0.000000,0.000000,0.000000,...,0.000943,0.001463,0.009919,0.000000,0.000000,0.000000,0.000000,0.000536,4,NaN
4,1150,Agriculture and forestry support services,0.066536,0.018377,0.106288,0.131581,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,T006,Total value added,0.487558,0.149299,0.509212,0.552679,0.527717,0.401163,0.464046,0.435949,...,0.632352,0.675216,0.499140,0.506639,0.647949,0.605063,0.663984,0.476217,136,NaN
136,V001,Compensation of employees,0.093501,0.055566,0.113146,0.084673,0.485091,0.074641,0.231312,0.233327,...,0.321298,0.345326,0.334480,0.253608,0.312425,0.266250,0.663437,0.469523,137,NaN
137,V002,Indirect business tax and nontax liability,0.019053,0.017425,0.029326,0.058151,0.022107,0.075342,0.099198,0.046949,...,0.056296,0.071406,0.057800,0.039670,0.023557,0.025498,0.000547,0.006695,138,NaN
138,V003,Other value added,0.375003,0.076307,0.366740,0.409855,0.020519,0.251180,0.133537,0.155673,...,0.254758,0.258484,0.106860,0.213362,0.311967,0.313315,0.000000,0.000000,139,NaN
139,T008,Total industry output,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,140,NaN

In [544]:
tableI0_2.loc[tableI0_2['sic'] == 1, 'ind_nber'] = 1  #/*agriculture*/
tableI0_2.loc[tableI0_2['sic'] == 2, 'ind_nber'] = 2 # /*oth agriculture*/
tableI0_2.loc[tableI0_2['sic'] == 3, 'ind_nber'] = 46 #/*forestry*/
tableI0_2.loc[tableI0_2['sic'] == 4, 'ind_nber'] = 46
tableI0_2.loc[tableI0_2['sic'] == 5, 'ind_nber'] = 46
tableI0_2.loc[tableI0_2['sic'] == 6, 'ind_nber'] = 3 #/*mining*/
tableI0_2.loc[tableI0_2['sic'] == 7, 'ind_nber'] = 3
tableI0_2.loc[tableI0_2['sic'] == 8, 'ind_nber'] = 3
tableI0_2.loc[tableI0_2['sic'] == 9, 'ind_nber'] = 3
tableI0_2.loc[tableI0_2['sic'] == 10, 'ind_nber'] = 3

tableI0_2.loc[tableI0_2['sic'] == 11, 'ind_nber'] = 31  #/*utilities*/
tableI0_2.loc[tableI0_2['sic'] == 12, 'ind_nber'] = 31 
tableI0_2.loc[tableI0_2['sic'] == 13, 'ind_nber'] = 31 
tableI0_2.loc[tableI0_2['sic'] == 14, 'ind_nber'] = 4 #/*consstruction*/
tableI0_2.loc[tableI0_2['sic'] == 15, 'ind_nber'] = 4
tableI0_2.loc[tableI0_2['sic'] == 16, 'ind_nber'] = 4 
tableI0_2.loc[tableI0_2['sic'] == 17, 'ind_nber'] = 19 #/*food*/
tableI0_2.loc[tableI0_2['sic'] == 18, 'ind_nber'] = 19
tableI0_2.loc[tableI0_2['sic'] == 19, 'ind_nber'] = 20 #/*tobacco*/
tableI0_2.loc[tableI0_2['sic'] == 20, 'ind_nber'] = 21 # /*textile*/

tableI0_2.loc[tableI0_2['sic'] == 21, 'ind_nber'] = 21
tableI0_2.loc[tableI0_2['sic'] == 22, 'ind_nber'] = 22 #/*apparel*/
tableI0_2.loc[tableI0_2['sic'] == 23, 'ind_nber'] = 28 #/*leather*/
tableI0_2.loc[tableI0_2['sic'] == 24, 'ind_nber'] = 5 # /*wood*/
tableI0_2.loc[tableI0_2['sic'] == 25, 'ind_nber'] = 23 #/*paper*/
tableI0_2.loc[tableI0_2['sic'] == 26, 'ind_nber'] = 23 
tableI0_2.loc[tableI0_2['sic'] == 27, 'ind_nber'] = 24 #/*print*/
tableI0_2.loc[tableI0_2['sic'] == 28, 'ind_nber'] = 26 #/*petroleum*/
tableI0_2.loc[tableI0_2['sic'] == 29, 'ind_nber'] = 25 #/*chemicals*/
tableI0_2.loc[tableI0_2['sic'] == 30, 'ind_nber'] = 25 

tableI0_2.loc[tableI0_2['sic'] == 31, 'ind_nber'] = 25
tableI0_2.loc[tableI0_2['sic'] == 32, 'ind_nber'] = 25 
tableI0_2.loc[tableI0_2['sic'] == 33, 'ind_nber'] = 25 
tableI0_2.loc[tableI0_2['sic'] == 34, 'ind_nber'] = 25
tableI0_2.loc[tableI0_2['sic'] == 35, 'ind_nber'] = 25 
tableI0_2.loc[tableI0_2['sic'] == 36, 'ind_nber'] = 27 #/*plastic*/
tableI0_2.loc[tableI0_2['sic'] == 37, 'ind_nber'] = 7 # /*nonmetallic*/
tableI0_2.loc[tableI0_2['sic'] == 38, 'ind_nber'] = 8 #/*primary metals*/
tableI0_2.loc[tableI0_2['sic'] == 39, 'ind_nber'] = 8
tableI0_2.loc[tableI0_2['sic'] == 40, 'ind_nber'] = 9  #/*metal products*/

tableI0_2.loc[tableI0_2['sic'] == 41, 'ind_nber'] = 9
tableI0_2.loc[tableI0_2['sic'] == 42, 'ind_nber'] = 9 
tableI0_2.loc[tableI0_2['sic'] == 43, 'ind_nber'] = 9 
tableI0_2.loc[tableI0_2['sic'] == 44, 'ind_nber'] = 9
tableI0_2.loc[tableI0_2['sic'] == 45, 'ind_nber'] = 9 
tableI0_2.loc[tableI0_2['sic'] == 46, 'ind_nber'] = 10 
tableI0_2.loc[tableI0_2['sic'] == 47, 'ind_nber'] = 11 #/*machinery*/
tableI0_2.loc[tableI0_2['sic'] == 48, 'ind_nber'] = 11
tableI0_2.loc[tableI0_2['sic'] == 49, 'ind_nber'] = 11
tableI0_2.loc[tableI0_2['sic'] == 50, 'ind_nber'] = 11

tableI0_2.loc[tableI0_2['sic'] == 51, 'ind_nber'] = 11
tableI0_2.loc[tableI0_2['sic'] == 52, 'ind_nber'] = 11 
tableI0_2.loc[tableI0_2['sic'] == 53, 'ind_nber'] = 11
tableI0_2.loc[tableI0_2['sic'] == 54, 'ind_nber'] = 12 # /*equipment*/
tableI0_2.loc[tableI0_2['sic'] == 55, 'ind_nber'] = 12 
tableI0_2.loc[tableI0_2['sic'] == 56, 'ind_nber'] = 12 
tableI0_2.loc[tableI0_2['sic'] == 57, 'ind_nber'] = 12 
tableI0_2.loc[tableI0_2['sic'] == 58, 'ind_nber'] = 12
tableI0_2.loc[tableI0_2['sic'] == 59, 'ind_nber'] = 12
tableI0_2.loc[tableI0_2['sic'] == 60, 'ind_nber'] = 12

tableI0_2.loc[tableI0_2['sic'] == 61, 'ind_nber'] = 12
tableI0_2.loc[tableI0_2['sic'] == 62, 'ind_nber'] = 12 
tableI0_2.loc[tableI0_2['sic'] == 63, 'ind_nber'] = 13 #/*vehicles*/
tableI0_2.loc[tableI0_2['sic'] == 64, 'ind_nber'] = 13
tableI0_2.loc[tableI0_2['sic'] == 65, 'ind_nber'] = 14 #/*aricrafts*/
tableI0_2.loc[tableI0_2['sic'] == 66, 'ind_nber'] = 15 #/*other transp*/
tableI0_2.loc[tableI0_2['sic'] == 67, 'ind_nber'] = 6 #/*furniture*/
tableI0_2.loc[tableI0_2['sic'] == 68, 'ind_nber'] = 16 #/*prof products*/
tableI0_2.loc[tableI0_2['sic'] == 69, 'ind_nber'] = 18 #/*other manuf*/
tableI0_2.loc[tableI0_2['sic'] == 70, 'ind_nber'] = 32 #/*whoelsale*/

tableI0_2.loc[tableI0_2['sic'] == 71, 'ind_nber'] = 33 # /*retali*/
tableI0_2.loc[tableI0_2['sic'] == 72, 'ind_nber'] = 29 # /*trasportation*/
tableI0_2.loc[tableI0_2['sic'] == 73, 'ind_nber'] = 29
tableI0_2.loc[tableI0_2['sic'] == 74, 'ind_nber'] = 29 
tableI0_2.loc[tableI0_2['sic'] == 75, 'ind_nber'] = 29 
tableI0_2.loc[tableI0_2['sic'] == 76, 'ind_nber'] = 29 
tableI0_2.loc[tableI0_2['sic'] == 77, 'ind_nber'] = 29 
tableI0_2.loc[tableI0_2['sic'] == 78, 'ind_nber'] = 29
tableI0_2.loc[tableI0_2['sic'] == 79, 'ind_nber'] = 29
tableI0_2.loc[tableI0_2['sic'] == 70, 'ind_nber'] = 29

tableI0_2.loc[tableI0_2['sic'] == 81, 'ind_nber'] = 30 # /*communications*/
tableI0_2.loc[tableI0_2['sic'] == 82, 'ind_nber'] = 30 
tableI0_2.loc[tableI0_2['sic'] == 83, 'ind_nber'] = 30
tableI0_2.loc[tableI0_2['sic'] == 84, 'ind_nber'] = 30 
tableI0_2.loc[tableI0_2['sic'] == 85, 'ind_nber'] = 30 
tableI0_2.loc[tableI0_2['sic'] == 86, 'ind_nber'] = 30 
tableI0_2.loc[tableI0_2['sic'] == 87, 'ind_nber'] = 30 
tableI0_2.loc[tableI0_2['sic'] == 88, 'ind_nber'] = 30
tableI0_2.loc[tableI0_2['sic'] == 89, 'ind_nber'] = 34 #/*nbanking*/
tableI0_2.loc[tableI0_2['sic'] == 90, 'ind_nber'] = 34

tableI0_2.loc[tableI0_2['sic'] == 91, 'ind_nber'] = 34
tableI0_2.loc[tableI0_2['sic'] == 92, 'ind_nber'] = 34 
tableI0_2.loc[tableI0_2['sic'] == 93, 'ind_nber'] = 35 #/*insurance*/
tableI0_2.loc[tableI0_2['sic'] == 94, 'ind_nber'] = 35 
tableI0_2.loc[tableI0_2['sic'] == 95, 'ind_nber'] = 35 
tableI0_2.loc[tableI0_2['sic'] == 96, 'ind_nber'] = 35 
tableI0_2.loc[tableI0_2['sic'] == 97, 'ind_nber'] = 35 
tableI0_2.loc[tableI0_2['sic'] == 98, 'ind_nber'] = 35
tableI0_2.loc[tableI0_2['sic'] == 99, 'ind_nber'] = 45 #/*prof serv*/
tableI0_2.loc[tableI0_2['sic'] == 100, 'ind_nber'] = 45

tableI0_2.loc[tableI0_2['sic'] == 101, 'ind_nber'] = 45
tableI0_2.loc[tableI0_2['sic'] == 102, 'ind_nber'] = 45 
tableI0_2.loc[tableI0_2['sic'] == 103, 'ind_nber'] = 45 
tableI0_2.loc[tableI0_2['sic'] == 104, 'ind_nber'] = 45 
tableI0_2.loc[tableI0_2['sic'] == 105, 'ind_nber'] = 45 
tableI0_2.loc[tableI0_2['sic'] == 106, 'ind_nber'] = 45 
tableI0_2.loc[tableI0_2['sic'] == 107, 'ind_nber'] = 45 
tableI0_2.loc[tableI0_2['sic'] == 108, 'ind_nber'] = 37 #/*business serv*/
tableI0_2.loc[tableI0_2['sic'] == 109, 'ind_nber'] = 37 
tableI0_2.loc[tableI0_2['sic'] == 110, 'ind_nber'] = 37


tableI0_2.loc[tableI0_2['sic'] == 111, 'ind_nber'] = 37
tableI0_2.loc[tableI0_2['sic'] == 112, 'ind_nber'] = 37 
tableI0_2.loc[tableI0_2['sic'] == 113, 'ind_nber'] = 43 #/*education*/
tableI0_2.loc[tableI0_2['sic'] == 114, 'ind_nber'] = 41 # *hospital */
tableI0_2.loc[tableI0_2['sic'] == 115, 'ind_nber'] = 41 
tableI0_2.loc[tableI0_2['sic'] == 116, 'ind_nber'] = 42 #/*health*/
tableI0_2.loc[tableI0_2['sic'] == 117, 'ind_nber'] = 42 
tableI0_2.loc[tableI0_2['sic'] == 118, 'ind_nber'] = 40 #/*entertainment*/
tableI0_2.loc[tableI0_2['sic'] == 119, 'ind_nber'] = 40 
tableI0_2.loc[tableI0_2['sic'] == 120, 'ind_nber'] = 39 #/*food services*/

tableI0_2.loc[tableI0_2['sic'] == 121, 'ind_nber'] = 39
tableI0_2.loc[tableI0_2['sic'] == 122, 'ind_nber'] = 38 #/*repiars*/
tableI0_2.loc[tableI0_2['sic'] == 123, 'ind_nber'] = 38
tableI0_2.loc[tableI0_2['sic'] == 124, 'ind_nber'] = 39 #/*personal services*/
tableI0_2.loc[tableI0_2['sic'] == 125, 'ind_nber'] = 44 # /*social serv*/
tableI0_2.loc[tableI0_2['sic'] == 126, 'ind_nber'] = 44 
tableI0_2.loc[tableI0_2['sic'] == 127, 'ind_nber'] = 36 #/*private household*/
tableI0_2.loc[tableI0_2['sic'] == 128, 'ind_nber'] = 52 #/*government*/
tableI0_2.loc[tableI0_2['sic'] == 129, 'ind_nber'] = 52

In [545]:
tableI0_2

,code,industry,c1,c2,c3,c4,c5,c6,c7,c8,...,c119,c120,c121,c122,c123,c124,c125,c126,sic,ind_nber
0,1110,Crop products,0.053661,0.248259,0.000000,0.000000,0.053732,0.000004,0.000000,0.000000,...,0.002386,0.001528,0.009349,0.000005,0.000000,0.000000,0.000109,0.000863,1,1.0
1,1120,Animal products,0.000000,0.159890,0.001245,0.000000,0.093651,0.000000,0.000000,0.000000,...,0.001119,0.000275,0.004684,0.000000,0.000000,0.000888,0.000000,0.000080,2,2.0
2,1130,Forestry and logging products,0.000039,0.000000,0.280967,0.000000,0.002011,0.000000,0.000611,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000493,0.000000,0.000000,3,46.0
3,1140,Fish and other nonfarm animals,0.000000,0.000000,0.000000,0.053274,0.000000,0.000000,0.000000,0.000000,...,0.000943,0.001463,0.009919,0.000000,0.000000,0.000000,0.000000,0.000536,4,46.0
4,1150,Agriculture and forestry support services,0.066536,0.018377,0.106288,0.131581,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5,46.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,T006,Total value added,0.487558,0.149299,0.509212,0.552679,0.527717,0.401163,0.464046,0.435949,...,0.632352,0.675216,0.499140,0.506639,0.647949,0.605063,0.663984,0.476217,136,NaN
136,V001,Compensation of employees,0.093501,0.055566,0.113146,0.084673,0.485091,0.074641,0.231312,0.233327,...,0.321298,0.345326,0.334480,0.253608,0.312425,0.266250,0.663437,0.469523,137,NaN
137,V002,Indirect business tax and nontax liability,0.019053,0.017425,0.029326,0.058151,0.022107,0.075342,0.099198,0.046949,...,0.056296,0.071406,0.057800,0.039670,0.023557,0.025498,0.000547,0.006695,138,NaN
138,V003,Other value added,0.375003,0.076307,0.366740,0.409855,0.020519,0.251180,0.133537,0.155673,...,0.254758,0.258484,0.106860,0.213362,0.311967,0.313315,0.000000,0.000000,139,NaN
139,T008,Total industry output,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,140,NaN

    ind_nber   ratio80
0        1.0  0.359071
1        2.0  0.359071
2        3.0  0.359071
3        4.0  0.282216
4        5.0  0.359071
5        6.0  0.162919
6        7.0  0.359071
7        8.0  0.359071
8        9.0  0.359071
9       10.0  0.359071
10      11.0  0.356518
11      12.0  0.359071
12      13.0  0.359071
13      14.0  0.359071
14      15.0  0.359071
15      16.0  0.367415
16      18.0  0.359071
17      19.0  0.249621
18      20.0  0.254717
19      21.0  0.359071
20      22.0  0.135813
21      23.0  0.359071
22      24.0  0.359071
23      25.0  0.467164
24      26.0  0.430036
25      27.0  0.359071
26      28.0  0.359071
27      29.0  0.359071
28      30.0  0.457688
29      31.0  0.387622
30      32.0  0.362691
31      33.0  0.334189
32      34.0  0.359071
33      35.0  0.531460
34      36.0  0.130806
35      37.0  0.619535
36      38.0  0.239552
37      39.0  0.273007
38      40.0  0.441245
39      41.0  0.542705
40      42.0  0.561287
41      43.0  0.720609
42      44.0  0.590352
43      45.0  0.619535
44      46.0  0.359071
45      52.0  0.359071

In [547]:
df_joint = pd.merge(tableI0_2, skillpropUS, on='ind_nber')

In [548]:
df_joint

,code,industry,c1,c2,c3,c4,c5,c6,c7,c8,...,c120,c121,c122,c123,c124,c125,c126,sic,ind_nber,ratio80
0,1110,Crop products,0.053661,0.248259,0.000000,0.000000,0.053732,0.000004,0.000000,0.000000,...,0.001528,0.009349,0.000005,0.000000,0.000000,0.000109,0.000863,1,1.0,0.359071
1,1120,Animal products,0.000000,0.159890,0.001245,0.000000,0.093651,0.000000,0.000000,0.000000,...,0.000275,0.004684,0.000000,0.000000,0.000888,0.000000,0.000080,2,2.0,0.359071
2,1130,Forestry and logging products,0.000039,0.000000,0.280967,0.000000,0.002011,0.000000,0.000611,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000493,0.000000,0.000000,3,46.0,0.359071
3,1140,Fish and other nonfarm animals,0.000000,0.000000,0.000000,0.053274,0.000000,0.000000,0.000000,0.000000,...,0.001463,0.009919,0.000000,0.000000,0.000000,0.000000,0.000536,4,46.0,0.359071
4,1150,Agriculture and forestry support services,0.066536,0.018377,0.106288,0.131581,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5,46.0,0.359071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,813A,"Religious, grantmaking, and social advocacy",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,125,44.0,0.590352
124,813B,"Civic, social, professional and similar organi...",0.001543,0.002238,0.000032,0.000000,0.000024,0.000962,0.000820,0.000833,...,0.000546,0.000424,0.001368,0.001378,0.002114,0.000864,0.002633,126,44.0,0.590352
125,8140,Private household services,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,127,36.0,0.130806
126,S001,Federal Government enterprise services,0.000341,0.000396,0.000324,0.000479,0.000446,0.000013,0.000038,0.000895,...,0.004047,0.002034,0.003747,0.004371,0.006393,0.009137,0.018901,128,52.0,0.359071
127,S002,State and local government enterprise services,0.000000,0.000000,0.000192,0.000661,0.000000,0.000011,0.000145,0.000221,...,0.002759,0.001446,0.001215,0.000690,0.001901,0.000221,0.001733,129,52.0,0.359071

In [549]:
'''
df_joint2 = df_joint[df_joint.sic <= 129]
df_joint2
'''

,code,industry,c1,c2,c3,c4,c5,c6,c7,c8,...,c120,c121,c122,c123,c124,c125,c126,sic,ind_nber,ratio80
0,1110,Crop products,0.053661,0.248259,0.000000,0.000000,0.053732,0.000004,0.000000,0.000000,...,0.001528,0.009349,0.000005,0.000000,0.000000,0.000109,0.000863,1,1.0,0.359071
1,1120,Animal products,0.000000,0.159890,0.001245,0.000000,0.093651,0.000000,0.000000,0.000000,...,0.000275,0.004684,0.000000,0.000000,0.000888,0.000000,0.000080,2,2.0,0.359071
2,1130,Forestry and logging products,0.000039,0.000000,0.280967,0.000000,0.002011,0.000000,0.000611,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000493,0.000000,0.000000,3,46.0,0.359071
3,1140,Fish and other nonfarm animals,0.000000,0.000000,0.000000,0.053274,0.000000,0.000000,0.000000,0.000000,...,0.001463,0.009919,0.000000,0.000000,0.000000,0.000000,0.000536,4,46.0,0.359071
4,1150,Agriculture and forestry support services,0.066536,0.018377,0.106288,0.131581,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5,46.0,0.359071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,813A,"Religious, grantmaking, and social advocacy",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,125,44.0,0.590352
124,813B,"Civic, social, professional and similar organi...",0.001543,0.002238,0.000032,0.000000,0.000024,0.000962,0.000820,0.000833,...,0.000546,0.000424,0.001368,0.001378,0.002114,0.000864,0.002633,126,44.0,0.590352
125,8140,Private household services,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,127,36.0,0.130806
126,S001,Federal Government enterprise services,0.000341,0.000396,0.000324,0.000479,0.000446,0.000013,0.000038,0.000895,...,0.004047,0.002034,0.003747,0.004371,0.006393,0.009137,0.018901,128,52.0,0.359071
127,S002,State and local government enterprise services,0.000000,0.000000,0.000192,0.000661,0.000000,0.000011,0.000145,0.000221,...,0.002759,0.001446,0.001215,0.000690,0.001901,0.000221,0.001733,129,52.0,0.359071

In [562]:
wages = pd.read_stata('wages').fillna(0)
df_joint_wages = pd.merge(df_joint, wages, on='sic')
df_joint_wages

,code_x,industry_x,c1,c2,c3,c4,c5,c6,c7,c8,...,c124,c125,c126,sic,ind_nber,ratio80,id,code_y,industry_y,wshare
0,1110,Crop products,0.053661,0.248259,0.000000,0.000000,0.053732,0.000004,0.000000,0.000000,...,0.000000,0.000109,0.000863,1,1.0,0.359071,1,V001,Compensation of employees,0.093501
1,1120,Animal products,0.000000,0.159890,0.001245,0.000000,0.093651,0.000000,0.000000,0.000000,...,0.000888,0.000000,0.000080,2,2.0,0.359071,1,V001,Compensation of employees,0.055566
2,1130,Forestry and logging products,0.000039,0.000000,0.280967,0.000000,0.002011,0.000000,0.000611,0.000000,...,0.000493,0.000000,0.000000,3,46.0,0.359071,1,V001,Compensation of employees,0.113146
3,1140,Fish and other nonfarm animals,0.000000,0.000000,0.000000,0.053274,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000536,4,46.0,0.359071,1,V001,Compensation of employees,0.084673
4,1150,Agriculture and forestry support services,0.066536,0.018377,0.106288,0.131581,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,5,46.0,0.359071,1,V001,Compensation of employees,0.485091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,8120,Personal and laundry services,0.000000,0.000032,0.000000,0.000000,0.001297,0.000008,0.000034,0.000000,...,0.012844,0.000531,0.001388,124,39.0,0.273007,1,V001,Compensation of employees,0.266250
121,8111,Automotive repair and maintenance,0.001710,0.001686,0.004012,0.000000,0.000032,0.000130,0.000073,0.000195,...,0.001515,0.000394,0.001550,122,38.0,0.239552,1,V001,Compensation of employees,0.253608
122,811A,"Electronic, commercial, and household goods re...",0.006162,0.006180,0.010553,0.000347,0.000041,0.000637,0.000790,0.000177,...,0.004341,0.000842,0.003563,123,38.0,0.239552,1,V001,Compensation of employees,0.312425
123,813A,"Religious, grantmaking, and social advocacy",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,125,44.0,0.590352,1,V001,Compensation of employees,0.663437
124,813B,"Civic, social, professional and similar organi...",0.001543,0.002238,0.000032,0.000000,0.000024,0.000962,0.000820,0.000833,...,0.002114,0.000864,0.002633,126,44.0,0.590352,1,V001,Compensation of employees,0.469523

In [563]:
df_joint_wages['wshare'] = df_joint_wages['wshare'].fillna(0)
df_joint_wages

,code_x,industry_x,c1,c2,c3,c4,c5,c6,c7,c8,...,c124,c125,c126,sic,ind_nber,ratio80,id,code_y,industry_y,wshare
0,1110,Crop products,0.053661,0.248259,0.000000,0.000000,0.053732,0.000004,0.000000,0.000000,...,0.000000,0.000109,0.000863,1,1.0,0.359071,1,V001,Compensation of employees,0.093501
1,1120,Animal products,0.000000,0.159890,0.001245,0.000000,0.093651,0.000000,0.000000,0.000000,...,0.000888,0.000000,0.000080,2,2.0,0.359071,1,V001,Compensation of employees,0.055566
2,1130,Forestry and logging products,0.000039,0.000000,0.280967,0.000000,0.002011,0.000000,0.000611,0.000000,...,0.000493,0.000000,0.000000,3,46.0,0.359071,1,V001,Compensation of employees,0.113146
3,1140,Fish and other nonfarm animals,0.000000,0.000000,0.000000,0.053274,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000536,4,46.0,0.359071,1,V001,Compensation of employees,0.084673
4,1150,Agriculture and forestry support services,0.066536,0.018377,0.106288,0.131581,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,5,46.0,0.359071,1,V001,Compensation of employees,0.485091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,8120,Personal and laundry services,0.000000,0.000032,0.000000,0.000000,0.001297,0.000008,0.000034,0.000000,...,0.012844,0.000531,0.001388,124,39.0,0.273007,1,V001,Compensation of employees,0.266250
121,8111,Automotive repair and maintenance,0.001710,0.001686,0.004012,0.000000,0.000032,0.000130,0.000073,0.000195,...,0.001515,0.000394,0.001550,122,38.0,0.239552,1,V001,Compensation of employees,0.253608
122,811A,"Electronic, commercial, and household goods re...",0.006162,0.006180,0.010553,0.000347,0.000041,0.000637,0.000790,0.000177,...,0.004341,0.000842,0.003563,123,38.0,0.239552,1,V001,Compensation of employees,0.312425
123,813A,"Religious, grantmaking, and social advocacy",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,125,44.0,0.590352,1,V001,Compensation of employees,0.663437
124,813B,"Civic, social, professional and similar organi...",0.001543,0.002238,0.000032,0.000000,0.000024,0.000962,0.000820,0.000833,...,0.002114,0.000864,0.002633,126,44.0,0.590352,1,V001,Compensation of employees,0.469523

In [564]:
#*****keep shares of employee compensation*skillratio. college skill intensity
df_joint_wages.to_stata('temp')

In [565]:
#*matrix of wage shares to be summed to inputs
df_joint_wages_new = df_joint_wages[['sic', 'wshare']]
df_joint_wages_new = df_joint_wages_new.rename(columns={'wshare': 'v'})
df_joint_wages_new['id'] = np.arange(1, len(df_joint_wages_new)+1)
df_joint_wages_new

     sic         v   id
0      1  0.093501    1
1      2  0.055566    2
2      3  0.113146    3
3      4  0.084673    4
4      5  0.485091    5
..   ...       ...  ...
120  124  0.266250  121
121  122  0.253608  122
122  123  0.312425  123
123  125  0.663437  124
124  126  0.469523  125

[125 rows x 3 columns]

In [682]:
df_joint_wages_3 = df_joint_wages_new.pivot(index='id', columns='sic', values='v').fillna(0)
df_joint_wages_3

sic,1,2,3,4,5,6,7,8,9,10,...,117,118,119,120,121,122,123,124,125,126
id,,,,,,,,,,,,,,,,,,,,,
1,0.093501,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000
2,0.000000,0.055566,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000
3,0.000000,0.000000,0.113146,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.084673,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.485091,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.26625,0.000000,0.000000
122,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.253608,0.000000,0.00000,0.000000,0.000000
123,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.312425,0.00000,0.000000,0.000000
124,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.663437,0.000000
125,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.469523

In [691]:
df_joint_wages_new.pivot(index='id', columns='sic', values='v').fillna(0)

sic,1,2,3,4,5,6,7,8,9,10,...,117,118,119,120,121,122,123,124,125,126
id,,,,,,,,,,,,,,,,,,,,,
1,0.093501,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000
2,0.000000,0.055566,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000
3,0.000000,0.000000,0.113146,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.084673,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.485091,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.26625,0.000000,0.000000
122,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.253608,0.000000,0.00000,0.000000,0.000000
123,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.312425,0.00000,0.000000,0.000000
124,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.663437,0.000000
125,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.469523

In [674]:
df_joint_wages_3.to_stata('wshare_c')

C:\Users\gimat\anaconda3\envs\assignment_week_6\lib\site-packages\pandas\io\stata.py:2346: InvalidColumnName:
Not all pandas column names were valid Stata variable names.
The following replacements have been made:

    1   ->   _1
    2   ->   _2
    3   ->   _3
    4   ->   _4
    5   ->   _5
    6   ->   _6
    7   ->   _7
    8   ->   _8
    9   ->   _9
    10   ->   _10
    11   ->   _11
    12   ->   _12
    13   ->   _13
    14   ->   _14
    15   ->   _15
    16   ->   _16
    17   ->   _17
    18   ->   _18
    19   ->   _19
    20   ->   _20
    21   ->   _21
    22   ->   _22
    23   ->   _23
    24   ->   _24
    25   ->   _25
    26   ->   _26
    27   ->   _27
    28   ->   _28
    29   ->   _29
    30   ->   _30
    31   ->   _31
    32   ->   _32
    33   ->   _33
    34   ->   _34
    35   ->   _35
    36   ->   _36
    37   ->   _37
    38   ->   _38
    39   ->   _39
    40   ->   _40
    41   ->   _41
    42   ->   _42
    43   ->   _43
    44   ->   _44
    45   ->   _45
    46   ->   _46
    47   ->   _47
    48   ->   _48
    49   ->   _49
    50   ->   _50
    51   ->   _51
    52   ->   _52
    53   ->   _53
    54   ->   _54
    55   ->   _55
    56   ->   _56
    57   ->   _57
    58   ->   _58
    59   ->   _59
    60   ->   _60
    61   ->   _61
    62   ->   _62
    63   ->   _63
    64   ->   _64
    65   ->   _65
    66   ->   _66
    67   ->   _67
    68   ->   _68
    69   ->   _69
    70   ->   _70
    71   ->   _71
    72   ->   _72
    73   ->   _73
    74   ->   _74
    75   ->   _75
    76   ->   _76
    77   ->   _77
    78   ->   _78
    79   ->   _79
    80   ->   _80
    81   ->   _81
    82   ->   _82
    83   ->   _83
    84   ->   _84
    85   ->   _85
    86   ->   _86
    87   ->   _87
    88   ->   _88
    89   ->   _89
    90   ->   _90
    91   ->   _91
    92   ->   _92
    93   ->   _93
    94   ->   _94
    95   ->   _95
    96   ->   _96
    97   ->   _97
    98   ->   _98
    99   ->   _99
    100   ->   _100
    101   ->   _101
    102   ->   _102
    103   ->   _103
    104   ->   _104
    105   ->   _105
    106   ->   _106
    107   ->   _107
    108   ->   _108
    109   ->   _109
    110   ->   _110
    111   ->   _111
    112   ->   _112
    113   ->   _113
    114   ->   _114
    115   ->   _115
    116   ->   _116
    117   ->   _117
    118   ->   _118
    119   ->   _119
    120   ->   _120
    121   ->   _121
    122   ->   _122
    123   ->   _123
    124   ->   _124
    125   ->   _125

If this is not what you expect, please make sure you have Stata-compliant
column names in your DataFrame (strings only, max 32 characters, only
alphanumerics and underscores, no Stata reserved words)

  warnings.warn(ws, InvalidColumnName)

In [ ]:
#*each input share is multiplied by wage share and summed to own industry wage share

In [632]:
temp3 = pd.read_stata('temp').drop(columns = 'index')
temp3

,code_x,industry_x,c1,c2,c3,c4,c5,c6,c7,c8,...,c124,c125,c126,sic,ind_nber,ratio80,id,code_y,industry_y,wshare
0,1110,Crop products,0.053661,0.248259,0.000000,0.000000,0.053732,0.000004,0.000000,0.000000,...,0.000000,0.000109,0.000863,1,1.0,0.359071,1,V001,Compensation of employees,0.093501
1,1120,Animal products,0.000000,0.159890,0.001245,0.000000,0.093651,0.000000,0.000000,0.000000,...,0.000888,0.000000,0.000080,2,2.0,0.359071,1,V001,Compensation of employees,0.055566
2,1130,Forestry and logging products,0.000039,0.000000,0.280967,0.000000,0.002011,0.000000,0.000611,0.000000,...,0.000493,0.000000,0.000000,3,46.0,0.359071,1,V001,Compensation of employees,0.113146
3,1140,Fish and other nonfarm animals,0.000000,0.000000,0.000000,0.053274,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000536,4,46.0,0.359071,1,V001,Compensation of employees,0.084673
4,1150,Agriculture and forestry support services,0.066536,0.018377,0.106288,0.131581,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,5,46.0,0.359071,1,V001,Compensation of employees,0.485091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,8120,Personal and laundry services,0.000000,0.000032,0.000000,0.000000,0.001297,0.000008,0.000034,0.000000,...,0.012844,0.000531,0.001388,124,39.0,0.273007,1,V001,Compensation of employees,0.266250
121,8111,Automotive repair and maintenance,0.001710,0.001686,0.004012,0.000000,0.000032,0.000130,0.000073,0.000195,...,0.001515,0.000394,0.001550,122,38.0,0.239552,1,V001,Compensation of employees,0.253608
122,811A,"Electronic, commercial, and household goods re...",0.006162,0.006180,0.010553,0.000347,0.000041,0.000637,0.000790,0.000177,...,0.004341,0.000842,0.003563,123,38.0,0.239552,1,V001,Compensation of employees,0.312425
123,813A,"Religious, grantmaking, and social advocacy",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,125,44.0,0.590352,1,V001,Compensation of employees,0.663437
124,813B,"Civic, social, professional and similar organi...",0.001543,0.002238,0.000032,0.000000,0.000024,0.000962,0.000820,0.000833,...,0.002114,0.000864,0.002633,126,44.0,0.590352,1,V001,Compensation of employees,0.469523

In [651]:
columns1 = temp3[['code_x', 'industry_x', 'sic', 'ind_nber', 'ratio80', 'id', 'code_y', 'industry_y','wshare']]
columns1

,code_x,industry_x,sic,ind_nber,ratio80,id,code_y,industry_y,wshare
0,1110,Crop products,1,1.0,0.359071,1,V001,Compensation of employees,0.093501
1,1120,Animal products,2,2.0,0.359071,1,V001,Compensation of employees,0.055566
2,1130,Forestry and logging products,3,46.0,0.359071,1,V001,Compensation of employees,0.113146
3,1140,Fish and other nonfarm animals,4,46.0,0.359071,1,V001,Compensation of employees,0.084673
4,1150,Agriculture and forestry support services,5,46.0,0.359071,1,V001,Compensation of employees,0.485091
...,...,...,...,...,...,...,...,...,...
120,8120,Personal and laundry services,124,39.0,0.273007,1,V001,Compensation of employees,0.266250
121,8111,Automotive repair and maintenance,122,38.0,0.239552,1,V001,Compensation of employees,0.253608
122,811A,"Electronic, commercial, and household goods re...",123,38.0,0.239552,1,V001,Compensation of employees,0.312425
123,813A,"Religious, grantmaking, and social advocacy",125,44.0,0.590352,1,V001,Compensation of employees,0.663437
124,813B,"Civic, social, professional and similar organi...",126,44.0,0.590352,1,V001,Compensation of employees,0.469523

In [650]:
columns2 = temp3.drop(['code_x', 'industry_x', 'sic', 'ind_nber', 'ratio80', 'id', 'code_y', 'industry_y'], axis=1)
columns2

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,...,c118,c119,c120,c121,c122,c123,c124,c125,c126,wshare
0,0.053661,0.248259,0.000000,0.000000,0.053732,0.000004,0.000000,0.000000,0.000000,0.000000,...,0.000197,0.002386,0.001528,0.009349,0.000005,0.000000,0.000000,0.000109,0.000863,0.093501
1,0.000000,0.159890,0.001245,0.000000,0.093651,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000655,0.001119,0.000275,0.004684,0.000000,0.000000,0.000888,0.000000,0.000080,0.055566
2,0.000039,0.000000,0.280967,0.000000,0.002011,0.000000,0.000611,0.000000,0.000000,0.000000,...,0.000034,0.000000,0.000000,0.000000,0.000000,0.000000,0.000493,0.000000,0.000000,0.113146
3,0.000000,0.000000,0.000000,0.053274,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000036,0.000943,0.001463,0.009919,0.000000,0.000000,0.000000,0.000000,0.000536,0.084673
4,0.066536,0.018377,0.106288,0.131581,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.485091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,0.000000,0.000032,0.000000,0.000000,0.001297,0.000008,0.000034,0.000000,0.000000,0.000012,...,0.003690,0.005127,0.007008,0.001843,0.006732,0.001456,0.012844,0.000531,0.001388,0.266250
121,0.001710,0.001686,0.004012,0.000000,0.000032,0.000130,0.000073,0.000195,0.000140,0.000568,...,0.001344,0.002388,0.001113,0.001455,0.001033,0.001295,0.001515,0.000394,0.001550,0.253608
122,0.006162,0.006180,0.010553,0.000347,0.000041,0.000637,0.000790,0.000177,0.001007,0.003020,...,0.001992,0.006880,0.003327,0.004081,0.003016,0.004080,0.004341,0.000842,0.003563,0.312425
123,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.663437
124,0.001543,0.002238,0.000032,0.000000,0.000024,0.000962,0.000820,0.000833,0.000803,0.000750,...,0.001270,0.000458,0.000546,0.000424,0.001368,0.001378,0.002114,0.000864,0.002633,0.469523

In [652]:
columns3 = columns2.loc[:, 'c1':'c126'].multiply(columns2['wshare'].loc[0:124], axis=0)

In [653]:

temp3_new = pd.concat([columns1, columns3], axis=1)
temp3_new

,code_x,industry_x,sic,ind_nber,ratio80,id,code_y,industry_y,wshare,c1,...,c117,c118,c119,c120,c121,c122,c123,c124,c125,c126
0,1110,Crop products,1,1.0,0.359071,1,V001,Compensation of employees,0.093501,0.005017,...,0.000122,0.000018,0.000223,0.000143,0.000874,4.404308e-07,0.000000,0.000000,0.000010,0.000081
1,1120,Animal products,2,2.0,0.359071,1,V001,Compensation of employees,0.055566,0.000000,...,0.000002,0.000036,0.000062,0.000015,0.000260,0.000000e+00,0.000000,0.000049,0.000000,0.000004
2,1130,Forestry and logging products,3,46.0,0.359071,1,V001,Compensation of employees,0.113146,0.000004,...,0.000000,0.000004,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000056,0.000000,0.000000
3,1140,Fish and other nonfarm animals,4,46.0,0.359071,1,V001,Compensation of employees,0.084673,0.000000,...,0.000002,0.000003,0.000080,0.000124,0.000840,0.000000e+00,0.000000,0.000000,0.000000,0.000045
4,1150,Agriculture and forestry support services,5,46.0,0.359071,1,V001,Compensation of employees,0.485091,0.032276,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,8120,Personal and laundry services,124,39.0,0.273007,1,V001,Compensation of employees,0.266250,0.000000,...,0.000646,0.000983,0.001365,0.001866,0.000491,1.792490e-03,0.000388,0.003420,0.000141,0.000370
121,8111,Automotive repair and maintenance,122,38.0,0.239552,1,V001,Compensation of employees,0.253608,0.000434,...,0.000292,0.000341,0.000606,0.000282,0.000369,2.619154e-04,0.000328,0.000384,0.000100,0.000393
122,811A,"Electronic, commercial, and household goods re...",123,38.0,0.239552,1,V001,Compensation of employees,0.312425,0.001925,...,0.000837,0.000622,0.002149,0.001039,0.001275,9.422239e-04,0.001275,0.001356,0.000263,0.001113
123,813A,"Religious, grantmaking, and social advocacy",125,44.0,0.590352,1,V001,Compensation of employees,0.663437,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
124,813B,"Civic, social, professional and similar organi...",126,44.0,0.590352,1,V001,Compensation of employees,0.469523,0.000724,...,0.000381,0.000596,0.000215,0.000256,0.000199,6.424832e-04,0.000647,0.000993,0.000406,0.001236

In [694]:
wshare_c = pd.read_stata('wshare_c')
wshare_c = wshare_c.rename(columns={'id': 'sic'})
wshare_c

,sic,_1,_2,_3,_4,_5,_6,_7,_8,_9,...,_116,_117,_118,_119,_120,_121,_122,_123,_124,_125
0,1,0.093501,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
1,2,0.000000,0.055566,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
2,3,0.000000,0.000000,0.113146,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
3,4,0.000000,0.000000,0.000000,0.084673,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
4,5,0.000000,0.000000,0.000000,0.000000,0.485091,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,122,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.253608,0.000000,0.000000,0.000000
121,123,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.312425,0.000000,0.000000
122,124,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.26625,0.000000,0.000000,0.000000,0.000000
123,125,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.663437,0.000000
124,126,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.469523

In [698]:
temp3_new_joint = pd.merge(temp3_new, wshare_c, on='sic').rename(columns={'industry_x': 'industry'}).rename(columns={'code_x': 'code'})
temp3_new_joint  = temp3_new_joint.drop(['code_y', 'industry_y'], axis=1)
temp3_new_joint

,code,industry,sic,ind_nber,ratio80,id,wshare,c1,c2,c3,...,_116,_117,_118,_119,_120,_121,_122,_123,_124,_125
0,1110,Crop products,1,1.0,0.359071,1,0.093501,0.005017,0.023213,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
1,1120,Animal products,2,2.0,0.359071,1,0.055566,0.000000,0.008884,0.000069,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
2,1130,Forestry and logging products,3,46.0,0.359071,1,0.113146,0.000004,0.000000,0.031790,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
3,1140,Fish and other nonfarm animals,4,46.0,0.359071,1,0.084673,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
4,1150,Agriculture and forestry support services,5,46.0,0.359071,1,0.485091,0.032276,0.008914,0.051560,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,8120,Personal and laundry services,124,39.0,0.273007,1,0.266250,0.000000,0.000009,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.26625,0.000000,0.000000,0.000000,0.000000
121,8111,Automotive repair and maintenance,122,38.0,0.239552,1,0.253608,0.000434,0.000428,0.001017,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.253608,0.000000,0.000000,0.000000
122,811A,"Electronic, commercial, and household goods re...",123,38.0,0.239552,1,0.312425,0.001925,0.001931,0.003297,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.312425,0.000000,0.000000
123,813A,"Religious, grantmaking, and social advocacy",125,44.0,0.590352,1,0.663437,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.663437,0.000000
124,813B,"Civic, social, professional and similar organi...",126,44.0,0.590352,1,0.469523,0.000724,0.001051,0.000015,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.469523

In [730]:
temp3_new_joint['c1']+temp3_new_joint['_1']

0      0.098519
1      0.000000
2      0.000004
3      0.000000
4      0.032276
         ...
120    0.000000
121    0.000434
122    0.001925
123    0.000000
124    0.000724
Length: 125, dtype: float64

In [731]:
a = temp3_new_joint.loc[:, 'c1':'c126']
a

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,...,c117,c118,c119,c120,c121,c122,c123,c124,c125,c126
0,0.005017,0.023213,0.000000,0.000000,0.005024,4.084158e-07,0.000000,0.000000,0.000000,0.000000,...,0.000122,0.000018,0.000223,0.000143,0.000874,4.404308e-07,0.000000,0.000000,0.000010,0.000081
1,0.000000,0.008884,0.000069,0.000000,0.005204,0.000000e+00,0.000000,0.000000,0.000000,0.000000,...,0.000002,0.000036,0.000062,0.000015,0.000260,0.000000e+00,0.000000,0.000049,0.000000,0.000004
2,0.000004,0.000000,0.031790,0.000000,0.000227,0.000000e+00,0.000069,0.000000,0.000000,0.000000,...,0.000000,0.000004,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000056,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.004511,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,...,0.000002,0.000003,0.000080,0.000124,0.000840,0.000000e+00,0.000000,0.000000,0.000000,0.000045
4,0.032276,0.008914,0.051560,0.063829,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,0.000000,0.000009,0.000000,0.000000,0.000345,2.035221e-06,0.000009,0.000000,0.000000,0.000003,...,0.000646,0.000983,0.001365,0.001866,0.000491,1.792490e-03,0.000388,0.003420,0.000141,0.000370
121,0.000434,0.000428,0.001017,0.000000,0.000008,3.295590e-05,0.000018,0.000049,0.000035,0.000144,...,0.000292,0.000341,0.000606,0.000282,0.000369,2.619154e-04,0.000328,0.000384,0.000100,0.000393
122,0.001925,0.001931,0.003297,0.000108,0.000013,1.989014e-04,0.000247,0.000055,0.000315,0.000944,...,0.000837,0.000622,0.002149,0.001039,0.001275,9.422239e-04,0.001275,0.001356,0.000263,0.001113
123,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
124,0.000724,0.001051,0.000015,0.000000,0.000011,4.517066e-04,0.000385,0.000391,0.000377,0.000352,...,0.000381,0.000596,0.000215,0.000256,0.000199,6.424832e-04,0.000647,0.000993,0.000406,0.001236

In [732]:
b = temp3_new_joint.loc[:, '_1':'_125']
b

,_1,_2,_3,_4,_5,_6,_7,_8,_9,_10,...,_116,_117,_118,_119,_120,_121,_122,_123,_124,_125
0,0.093501,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.055566,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.113146,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.084673,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.485091,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.26625,0.000000,0.000000,0.000000,0.000000
121,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.253608,0.000000,0.000000,0.000000
122,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.312425,0.000000,0.000000
123,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.663437,0.000000
124,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.469523

In [737]:
a+b

,_1,_10,_100,_101,_102,_103,_104,_105,_106,_107,...,c90,c91,c92,c93,c94,c95,c96,c97,c98,c99
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
temp3_new_joint.loc[:, 'c1':'c126'].add(temp3_new_joint.loc[:, '_1':'_125'],axis = 0)

NameError: name 'temp3_new_joint' is not defined

In [714]:
temp3_new_joint.loc[:, 'c1':'c126'] + temp3_new_joint.loc[:, '_1':'_125']

,_1,_10,_100,_101,_102,_103,_104,_105,_106,_107,...,c90,c91,c92,c93,c94,c95,c96,c97,c98,c99
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN