In [317]:
import pandas as pd
import numpy as np
import operator
import os
from pathlib import Path
cwd = os.getcwd() # get path of current working directory
main_folder = str(Path(cwd).parents[0]) # main folder is the lowest level in project

In [318]:
cex84_02_div = pd.read_stata('cex84_02_div.dta')
cex84_02_div = cex84_02_div.drop(columns=['gambling', 'toiletry', 'housuppl'])
cex84_02_div

,newid,age,relation,educatio,race,sex,weeksin,emplcont,incoll,nonwork,...,cpi_00,cpi1_lag,cpi82_lag,cpi00_lag,cpi_97,ee,meanee,totalexp,tt,ltotexp
0,57811,68,1,24,1,2,52,NaN,3.0,5.0,...,0.860627,144.500000,1.497409,0.839141,0.923364,1.0,0.521694,19856.199219,18945.199219,9.929037
1,57812,53,1,12,1,1,52,1.0,3.0,NaN,...,0.860627,144.500000,1.497409,0.839141,0.923364,0.0,0.521694,20149.000000,17131.000000,9.828376
2,57813,37,1,12,1,1,52,1.0,3.0,NaN,...,0.860627,144.500000,1.497409,0.839141,0.923364,0.0,0.521694,47880.000000,40649.000000,10.692461
3,57814,68,1,22,1,1,52,NaN,3.0,NaN,...,0.860627,144.500000,1.497409,0.839141,0.923364,1.0,0.521694,38343.351562,34663.601562,10.533176
4,57815,35,1,12,2,2,39,NaN,NaN,NaN,...,0.860627,144.500000,1.497409,0.839141,0.923364,0.0,0.521694,4516.000000,4516.000000,8.495113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23293,92654,40,1,44,1,2,13,2.0,2.0,NaN,...,0.932056,156.899994,1.625907,0.911150,1.000000,1.0,0.521694,12130.959961,9609.959961,9.170555
23294,92656,18,1,39,1,1,13,NaN,1.0,NaN,...,0.932056,156.899994,1.625907,0.911150,1.000000,0.0,0.521694,2671.000000,2671.000000,7.890208
23295,92667,34,1,41,1,2,13,2.0,3.0,NaN,...,0.932056,156.899994,1.625907,0.911150,1.000000,1.0,0.521694,6042.000000,4092.000000,8.316789
23296,92685,18,1,40,1,1,13,NaN,1.0,3.0,...,0.932056,156.899994,1.625907,0.911150,1.000000,1.0,0.521694,13170.000000,1170.000000,7.064759
23297,92691,28,1,45,1,1,13,2.0,3.0,NaN,...,0.932056,156.899994,1.625907,0.911150,1.000000,1.0,0.521694,3127.000000,3127.000000,8.047830

In [319]:
'''
cex84_02 = pd.read_stata('cex84_02_for3A')
'''

"\ncex84_02 = pd.read_stata('cex84_02_for3A')\n"

In [320]:
#Aggregate some small expenses with similar expenses
cex84_02_div['foodout'] = cex84_02_div['foodout'] + cex84_02_div['foodwork'] 
cex84_02_div['renthome'] = cex84_02_div['renthome'] + cex84_02_div['rentothr']
cex84_02_div['pubs'] = cex84_02_div['pubs'] + cex84_02_div['books']
cex84_02_div['hospital'] = cex84_02_div['hospital'] + cex84_02_div['nurshome']
cex84_02_div['masstran'] = cex84_02_div['masstran'] + cex84_02_div['tolls']
cex84_02_div = cex84_02_div.drop(columns=['foodwork', 'rentothr', 'books', 'nurshome', 'tolls'])
cex84_02_div

cex84_02_div['single'] = 1
cex84_02_div.loc[cex84_02_div['wife_ed'] >=1, 'single'] = 0 
cex84_02_div['wifeH'] = 0
cex84_02_div.loc[cex84_02_div['wife_ed'] >=2, 'wifeH'] = 1 #/*spouse with some college, wife_ed with college ==3*/
cex84_02_div['sex'] = cex84_02_div['sex'] - 1

In [321]:
cex84_02_div

,newid,age,relation,educatio,race,sex,weeksin,emplcont,incoll,nonwork,...,cpi82_lag,cpi00_lag,cpi_97,ee,meanee,totalexp,tt,ltotexp,single,wifeH
0,57811,68,1,24,1,1,52,NaN,3.0,5.0,...,1.497409,0.839141,0.923364,1.0,0.521694,19856.199219,18945.199219,9.929037,1,0
1,57812,53,1,12,1,0,52,1.0,3.0,NaN,...,1.497409,0.839141,0.923364,0.0,0.521694,20149.000000,17131.000000,9.828376,0,1
2,57813,37,1,12,1,0,52,1.0,3.0,NaN,...,1.497409,0.839141,0.923364,0.0,0.521694,47880.000000,40649.000000,10.692461,0,1
3,57814,68,1,22,1,0,52,NaN,3.0,NaN,...,1.497409,0.839141,0.923364,1.0,0.521694,38343.351562,34663.601562,10.533176,0,1
4,57815,35,1,12,2,1,39,NaN,NaN,NaN,...,1.497409,0.839141,0.923364,0.0,0.521694,4516.000000,4516.000000,8.495113,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23293,92654,40,1,44,1,1,13,2.0,2.0,NaN,...,1.625907,0.911150,1.000000,1.0,0.521694,12130.959961,9609.959961,9.170555,1,0
23294,92656,18,1,39,1,0,13,NaN,1.0,NaN,...,1.625907,0.911150,1.000000,0.0,0.521694,2671.000000,2671.000000,7.890208,1,0
23295,92667,34,1,41,1,1,13,2.0,3.0,NaN,...,1.625907,0.911150,1.000000,1.0,0.521694,6042.000000,4092.000000,8.316789,1,0
23296,92685,18,1,40,1,0,13,NaN,1.0,3.0,...,1.625907,0.911150,1.000000,1.0,0.521694,13170.000000,1170.000000,7.064759,1,0
23297,92691,28,1,45,1,0,13,2.0,3.0,NaN,...,1.625907,0.911150,1.000000,1.0,0.521694,3127.000000,3127.000000,8.047830,1,0

In [322]:
cex84_02_div.to_stata("sampleUS")

In [323]:
cex84_02_div2 = cex84_02_div[cex84_02_div.single == 1]
cex84_02_div2
cex84_02_div2.to_stata("single")

cex84_02_div3 = cex84_02_div[cex84_02_div.single == 0]
cex84_02_div4 = cex84_02_div3[cex84_02_div3.wifeH == 0]
cex84_02_div4
cex84_02_div4.to_stata("wifelessH")

cex84_02_div5 = cex84_02_div3[cex84_02_div3.wifeH == 1]
cex84_02_div5
cex84_02_div4.to_stata("wifemoreH")

In [325]:
shares_reg = pd.read_stata('shares_reg1.dta')
shares_reg['id'] = np.arange(1, len(shares_reg)+1)
shares_reg_long = pd.wide_to_long(shares_reg,["bdum", "gdum", "sbdum", "sgdum"], i='id', j="ind")

shares = pd.read_stata('shares')
shares_joint = pd.merge(shares_reg_long, shares, on='ind')
shares_joint.rename(columns={'bdum':'incomebeta', 'gdum':'educbeta', 'share':'meansh'}, inplace=True)
shares_joint['sigmaincome'] = shares_joint['sbdum'] 
shares_joint['sigmaedu'] = shares_joint['sgdum'] 
shares_joint

,ind,incomebeta,educbeta,sbdum,sgdum,meansh,meanee,sigmash,sigmaincome,sigmaedu
0,1,-0.057212,-0.021379,0.001845,0.002532,0.176854,0.521694,0.109731,0.001845,0.002532
1,2,0.010301,0.007557,0.000957,0.001354,0.056631,0.521694,0.062533,0.000957,0.001354
2,3,-0.002042,-0.008017,0.000436,0.000692,0.016194,0.521694,0.033462,0.000436,0.000692
3,4,0.000442,0.000321,0.000303,0.000380,0.008049,0.521694,0.018822,0.000303,0.000380
4,5,0.002008,0.000711,0.000172,0.000275,0.008483,0.521694,0.021644,0.000172,0.000275
5,6,0.009234,0.004643,0.000840,0.001132,0.045536,0.521694,0.053200,0.000840,0.001132
6,7,0.001051,0.001607,0.000200,0.000239,0.007732,0.521694,0.012333,0.000200,0.000239
7,8,0.003878,-0.000467,0.000313,0.000606,0.004165,0.521694,0.020427,0.000313,0.000606
8,9,-0.001823,-0.000233,0.000307,0.000392,0.012388,0.521694,0.017502,0.000307,0.000392
9,10,-0.022197,-0.001231,0.002540,0.003545,0.181166,0.521694,0.179017,0.002540,0.003545
10,11,0.008557,0.003737,0.001363,0.001800,0.028142,0.521694,0.055484,0.001363,0.001800
11,12,-0.012054,-0.010225,0.000779,0.001011,0.042265,0.521694,0.041939,0.000779,0.001011
12,13,-0.002253,-0.000093,0.000436,0.000563,0.014723,0.521694,0.028197,0.000436,0.000563
13,14,-0.002076,-0.000408,0.000307,0.000429,0.010993,0.521694,0.018995,0.000307,0.000429
14,15,-0.000471,-0.001797,0.000279,0.000479,0.004182,0.521694,0.018752,0.000279,0.000479
15,16,-0.007668,-0.003026,0.000512,0.000713,0.042392,0.521694,0.037240,0.000512,0.000713
16,17,0.006030,0.007594,0.000926,0.001041,0.019014,0.521694,0.038054,0.000926,0.001041
17,18,-0.000558,-0.003577,0.000380,0.000667,0.009782,0.521694,0.028494,0.000380,0.000667
18,19,0.000445,0.000492,0.000251,0.000323,0.002645,0.521694,0.011032,0.000251,0.000323
19,20,0.004481,-0.001085,0.000847,0.001113,0.013809,0.521694,0.038660,0.000847,0.001113
20,21,0.001661,0.000049,0.000645,0.001040,0.003048,0.521694,0.024905,0.000645,0.001040
21,22,-0.011183,-0.007322,0.001082,0.001619,0.035093,0.521694,0.054837,0.001082,0.001619
22,23,0.004424,-0.002646,0.000761,0.001466,0.014349,0.521694,0.047435,0.000761,0.001466
23,24,0.005999,0.001341,0.000823,0.000968,0.009131,0.521694,0.024700,0.000823,0.000968
24,25,-0.000258,-0.002008,0.000338,0.000520,0.005465,0.521694,0.016121,0.000338,0.000520
25,26,0.012753,0.006215,0.001051,0.001595,0.026882,0.521694,0.048933,0.001051,0.001595
26,27,-0.012733,-0.010817,0.000772,0.001102,0.045222,0.521694,0.043558,0.000772,0.001102
27,28,-0.002744,-0.003300,0.000807,0.001025,0.027904,0.521694,0.039227,0.000807,0.001025
28,29,0.000287,0.001050,0.000286,0.000239,0.004488,0.521694,0.014642,0.000286,0.000239
29,30,0.002529,0.000890,0.000224,0.000556,0.002585,0.521694,0.010845,0.000224,0.000556
30,31,0.007958,0.006350,0.000594,0.000772,0.007509,0.521694,0.023208,0.000594,0.000772
31,32,0.002952,0.003240,0.000412,0.000553,0.020604,0.521694,0.036468,0.000412,0.000553
32,33,0.016921,0.003880,0.001341,0.001620,0.022233,0.521694,0.049807,0.001341,0.001620
33,34,0.013145,0.010355,0.000757,0.001046,0.037076,0.521694,0.038654,0.000757,0.001046
34,35,0.010387,0.007262,0.001043,0.001177,0.015193,0.521694,0.070907,0.001043,0.001177
35,36,0.006822,0.002737,0.000827,0.001278,0.004165,0.521694,0.024926,0.000827,0.001278
36,37,0.002417,0.001712,0.000285,0.000361,0.001957,0.521694,0.015383,0.000285,0.000361
37,38,0.000588,0.005888,0.000340,0.001763,0.011953,0.521694,0.039744,0.000340,0.001763

In [326]:
shares_joint['elastincome'] = (shares_joint['incomebeta']/shares_joint['meansh'])+1
shares_joint['elastedu'] = (shares_joint['educbeta']*shares_joint['meanee'])/shares_joint['meansh']

shares_joint = shares_joint[['ind', 'elastedu', 'elastincome', 'meansh']]
shares_joint.rename(columns={'elastedu':'elasteduH', 'elastincome':'elastincomeH', 'meansh':'meanshH'}, inplace=True)
shares_joint

C:\Users\gimat\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

    ind  elasteduH  elastincomeH   meanshH
0     1  -0.063065      0.676503  0.176854
1     2   0.069615      1.181903  0.056631
2     3  -0.258255      0.873914  0.016194
3     4   0.020808      1.054857  0.008049
4     5   0.043705      1.236743  0.008483
5     6   0.053189      1.202788  0.045536
6     7   0.108406      1.135936  0.007732
7     8  -0.058466      1.930944  0.004165
8     9  -0.009803      0.852797  0.012388
9    10  -0.003544      0.877479  0.181166
10   11   0.069274      1.304060  0.028142
11   12  -0.126209      0.714811  0.042265
12   13  -0.003296      0.846984  0.014723
13   14  -0.019341      0.811121  0.010993
14   15  -0.224153      0.887428  0.004182
15   16  -0.037236      0.819115  0.042392
16   17   0.208370      1.317138  0.019014
17   18  -0.190766      0.942978  0.009782
18   19   0.097126      1.168419  0.002645
19   20  -0.040999      1.324493  0.013809
20   21   0.008307      1.544923  0.003048
21   22  -0.108855      0.681325  0.035093
22   23  -0.096188      1.308325  0.014349
23   24   0.076609      1.657005  0.009131
24   25  -0.191684      0.952711  0.005465
25   26   0.120619      1.474384  0.026882
26   27  -0.124791      0.718425  0.045222
27   28  -0.061701      0.901677  0.027904
28   29   0.122057      1.064057  0.004488
29   30   0.179643      1.978212  0.002585
30   31   0.441203      2.059869  0.007509
31   32   0.082034      1.143283  0.020604
32   33   0.091031      1.761053  0.022233
33   34   0.145700      1.354550  0.037076
34   35   0.249361      1.683679  0.015193
35   36   0.342788      2.637930  0.004165
36   37   0.456497      2.235269  0.001957
37   38   0.256978      1.049210  0.011953

In [327]:
shares_joint.to_stata("elastH")

In [328]:
#single families
single = pd.read_stata('single')
single

,index,newid,age,relation,educatio,race,sex,weeksin,emplcont,incoll,...,cpi82_lag,cpi00_lag,cpi_97,ee,meanee,totalexp,tt,ltotexp,single,wifeH
0,0,57811,68,1,24,1,1,52,NaN,3.0,...,1.497409,0.839141,0.923364,1.0,0.521694,19856.199219,18945.199219,9.929037,1,0
1,4,57815,35,1,12,2,1,39,NaN,NaN,...,1.497409,0.839141,0.923364,0.0,0.521694,4516.000000,4516.000000,8.495113,1,0
2,6,57818,43,1,21,2,1,52,2.0,3.0,...,1.497409,0.839141,0.923364,1.0,0.521694,17908.000000,13727.000000,9.606852,1,0
3,7,57819,28,1,12,1,1,26,NaN,NaN,...,1.497409,0.839141,0.923364,0.0,0.521694,4068.000000,4068.000000,8.390638,1,0
4,8,57820,40,1,23,2,1,52,1.0,3.0,...,1.497409,0.839141,0.923364,1.0,0.521694,20450.000000,14525.000000,9.663358,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11924,23293,92654,40,1,44,1,1,13,2.0,2.0,...,1.625907,0.911150,1.000000,1.0,0.521694,12130.959961,9609.959961,9.170555,1,0
11925,23294,92656,18,1,39,1,0,13,NaN,1.0,...,1.625907,0.911150,1.000000,0.0,0.521694,2671.000000,2671.000000,7.890208,1,0
11926,23295,92667,34,1,41,1,1,13,2.0,3.0,...,1.625907,0.911150,1.000000,1.0,0.521694,6042.000000,4092.000000,8.316789,1,0
11927,23296,92685,18,1,40,1,0,13,NaN,1.0,...,1.625907,0.911150,1.000000,1.0,0.521694,13170.000000,1170.000000,7.064759,1,0
11928,23297,92691,28,1,45,1,0,13,2.0,3.0,...,1.625907,0.911150,1.000000,1.0,0.521694,3127.000000,3127.000000,8.047830,1,0

In [329]:
single.rename(columns={'foodhome':'share1', 'foodout':'share2', 'tobacco':'share3', 'alcohol':'share4', 'niteclub':'share5', 'clothes':'share6','tailors':'share7', 'jewelry':'share8', 'hlthbeau':'share9', 'renthome':'share10', 'furnish':'share11', 'elect':'share12', 'gas':'share13','water':'share14', 'homefuel':'share15','telephon':'share16', 'servants':'share17', 'drugs':'share18', 'orthopd':'share19', 'doctors':'share20', 'hospital':'share21', 'helthins':'share22', 'busiserv':'share23', 'lifeins':'share24', 'parts':'share25','carservs':'share26', 'gasoline':'share27', 'autoins':'share28', 'masstran':'share29', 'othtrans':'share30', 'airfare':'share31', 'pubs':'share32', 'recsport':'share33', 'othrec':'share34', 'highedu':'share35','lowedu':'share36', 'othedu':'share37', 'charity':'share38'}, inplace=True)
single

,index,newid,age,relation,educatio,race,sex,weeksin,emplcont,incoll,...,cpi82_lag,cpi00_lag,cpi_97,ee,meanee,totalexp,tt,ltotexp,single,wifeH
0,0,57811,68,1,24,1,1,52,NaN,3.0,...,1.497409,0.839141,0.923364,1.0,0.521694,19856.199219,18945.199219,9.929037,1,0
1,4,57815,35,1,12,2,1,39,NaN,NaN,...,1.497409,0.839141,0.923364,0.0,0.521694,4516.000000,4516.000000,8.495113,1,0
2,6,57818,43,1,21,2,1,52,2.0,3.0,...,1.497409,0.839141,0.923364,1.0,0.521694,17908.000000,13727.000000,9.606852,1,0
3,7,57819,28,1,12,1,1,26,NaN,NaN,...,1.497409,0.839141,0.923364,0.0,0.521694,4068.000000,4068.000000,8.390638,1,0
4,8,57820,40,1,23,2,1,52,1.0,3.0,...,1.497409,0.839141,0.923364,1.0,0.521694,20450.000000,14525.000000,9.663358,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11924,23293,92654,40,1,44,1,1,13,2.0,2.0,...,1.625907,0.911150,1.000000,1.0,0.521694,12130.959961,9609.959961,9.170555,1,0
11925,23294,92656,18,1,39,1,0,13,NaN,1.0,...,1.625907,0.911150,1.000000,0.0,0.521694,2671.000000,2671.000000,7.890208,1,0
11926,23295,92667,34,1,41,1,1,13,2.0,3.0,...,1.625907,0.911150,1.000000,1.0,0.521694,6042.000000,4092.000000,8.316789,1,0
11927,23296,92685,18,1,40,1,0,13,NaN,1.0,...,1.625907,0.911150,1.000000,1.0,0.521694,13170.000000,1170.000000,7.064759,1,0
11928,23297,92691,28,1,45,1,0,13,2.0,3.0,...,1.625907,0.911150,1.000000,1.0,0.521694,3127.000000,3127.000000,8.047830,1,0

In [330]:
filter_col = [col for col in single if col.startswith('share')]
filter_col

['share1',
 'share2',
 'share3',
 'share4',
 'share5',
 'share6',
 'share7',
 'share8',
 'share9',
 'share10',
 'share11',
 'share12',
 'share13',
 'share14',
 'share15',
 'share16',
 'share17',
 'share18',
 'share19',
 'share20',
 'share21',
 'share22',
 'share23',
 'share24',
 'share25',
 'share26',
 'share27',
 'share28',
 'share29',
 'share30',
 'share31',
 'share32',
 'share33',
 'share34',
 'share35',
 'share36',
 'share37',
 'share38']

In [331]:
single = single[['share1',
 'share2',
 'share3',
 'share4',
 'share5',
 'share6',
 'share7',
 'share8',
 'share9',
 'share10',
 'share11',
 'share12',
 'share13',
 'share14',
 'share15',
 'share16',
 'share17',
 'share18',
 'share19',
 'share20',
 'share21',
 'share22',
 'share23',
 'share24',
 'share25',
 'share26',
 'share27',
 'share28',
 'share29',
 'share30',
 'share31',
 'share32',
 'share33',
 'share34',
 'share35',
 'share36',
 'share37',
 'share38','ltotexp', 'age', 'ee', 'sex', 'nchild', 'meanee']]

In [332]:
single

,share1,share2,share3,share4,share5,share6,share7,share8,share9,share10,...,share35,share36,share37,share38,ltotexp,age,ee,sex,nchild,meanee
0,0.170861,0.038004,0.000000,0.023278,0.007284,0.015043,0.007231,0.000000,0.058273,0.007073,...,0.000000,0.000000,0.000000,0.015835,9.929037,68,1.0,1,0.0,0.521694
1,0.437555,0.026572,0.000000,0.003322,0.000000,0.032551,0.015500,0.000000,0.038530,0.070416,...,0.000000,0.000000,0.000000,0.000000,8.495113,35,0.0,1,1.0,0.521694
2,0.123115,0.030232,0.000000,0.000000,0.000000,0.098273,0.007649,0.000000,0.014206,0.000000,...,0.000000,0.132585,0.000000,0.000000,9.606852,43,1.0,1,1.0,0.521694
3,0.172566,0.014749,0.051131,0.000000,0.000000,0.124877,0.000000,0.005900,0.000000,0.331858,...,0.000000,0.000000,0.000000,0.000000,8.390638,28,0.0,1,3.0,0.521694
4,0.154148,0.020792,0.017900,0.000000,0.000069,0.029948,0.007573,0.000000,0.014458,0.006678,...,0.000000,0.000000,0.020654,0.041308,9.663358,40,1.0,1,1.0,0.521694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11924,0.088970,0.045266,0.000000,0.004683,0.003122,0.096775,0.053070,0.031218,0.006244,0.000000,...,0.041623,0.000000,0.013007,0.078564,9.170555,40,1.0,1,0.0,0.521694
11925,0.048671,0.172220,0.000000,0.000000,0.000000,0.088731,0.000000,0.000000,0.007862,0.219019,...,0.374392,0.000000,0.000000,0.000000,7.890208,18,0.0,0,0.0,0.521694
11926,0.190616,0.130010,0.095308,0.036657,0.014174,0.010020,0.000000,0.000000,0.008798,0.205279,...,0.000000,0.000000,0.000489,0.000000,8.316789,34,1.0,1,1.0,0.521694
11927,0.333333,0.401709,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.025641,0.000000,...,0.000000,0.000000,0.000000,0.000000,7.064759,18,1.0,0,0.0,0.521694
11928,0.228654,0.047969,0.000000,0.000000,0.009594,0.115126,0.009594,0.000000,0.019188,0.169492,...,0.000000,0.000000,0.000000,0.000000,8.047830,28,1.0,0,0.0,0.521694

In [333]:
single['id'] = np.arange(1, len(single)+1)
single

<ipython-input-333-899a94d2cbf0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single['id'] = np.arange(1, len(single)+1)

,share1,share2,share3,share4,share5,share6,share7,share8,share9,share10,...,share36,share37,share38,ltotexp,age,ee,sex,nchild,meanee,id
0,0.170861,0.038004,0.000000,0.023278,0.007284,0.015043,0.007231,0.000000,0.058273,0.007073,...,0.000000,0.000000,0.015835,9.929037,68,1.0,1,0.0,0.521694,1
1,0.437555,0.026572,0.000000,0.003322,0.000000,0.032551,0.015500,0.000000,0.038530,0.070416,...,0.000000,0.000000,0.000000,8.495113,35,0.0,1,1.0,0.521694,2
2,0.123115,0.030232,0.000000,0.000000,0.000000,0.098273,0.007649,0.000000,0.014206,0.000000,...,0.132585,0.000000,0.000000,9.606852,43,1.0,1,1.0,0.521694,3
3,0.172566,0.014749,0.051131,0.000000,0.000000,0.124877,0.000000,0.005900,0.000000,0.331858,...,0.000000,0.000000,0.000000,8.390638,28,0.0,1,3.0,0.521694,4
4,0.154148,0.020792,0.017900,0.000000,0.000069,0.029948,0.007573,0.000000,0.014458,0.006678,...,0.000000,0.020654,0.041308,9.663358,40,1.0,1,1.0,0.521694,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11924,0.088970,0.045266,0.000000,0.004683,0.003122,0.096775,0.053070,0.031218,0.006244,0.000000,...,0.000000,0.013007,0.078564,9.170555,40,1.0,1,0.0,0.521694,11925
11925,0.048671,0.172220,0.000000,0.000000,0.000000,0.088731,0.000000,0.000000,0.007862,0.219019,...,0.000000,0.000000,0.000000,7.890208,18,0.0,0,0.0,0.521694,11926
11926,0.190616,0.130010,0.095308,0.036657,0.014174,0.010020,0.000000,0.000000,0.008798,0.205279,...,0.000000,0.000489,0.000000,8.316789,34,1.0,1,1.0,0.521694,11927
11927,0.333333,0.401709,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.025641,0.000000,...,0.000000,0.000000,0.000000,7.064759,18,1.0,0,0.0,0.521694,11928
11928,0.228654,0.047969,0.000000,0.000000,0.009594,0.115126,0.009594,0.000000,0.019188,0.169492,...,0.000000,0.000000,0.000000,8.047830,28,1.0,0,0.0,0.521694,11929

In [334]:
#wide to long
shares_wtl= pd.wide_to_long(single,['share'], i='id', j="ind")
shares_wtl

             meanee  age  nchild  sex   ee   ltotexp     share
id    ind
1     1    0.521694   68     0.0    1  1.0  9.929037  0.170861
2     1    0.521694   35     1.0    1  0.0  8.495113  0.437555
3     1    0.521694   43     1.0    1  1.0  9.606852  0.123115
4     1    0.521694   28     3.0    1  0.0  8.390638  0.172566
5     1    0.521694   40     1.0    1  1.0  9.663358  0.154148
...             ...  ...     ...  ...  ...       ...       ...
11925 38   0.521694   40     0.0    1  1.0  9.170555  0.078564
11926 38   0.521694   18     0.0    0  0.0  7.890208  0.000000
11927 38   0.521694   34     1.0    1  1.0  8.316789  0.000000
11928 38   0.521694   18     0.0    0  1.0  7.064759  0.000000
11929 38   0.521694   28     0.0    0  1.0  8.047830  0.000000

[453302 rows x 7 columns]

In [335]:
wl1 = shares_wtl.groupby('ind')['share', 'meanee'].mean()
wl2 = shares_wtl.groupby('ind')['share'].agg(['std'])
wl3 = pd.merge(wl1, wl2, on='ind').rename(columns={'std': 'sigmash'})
wl3

<ipython-input-335-8f608e66f46b>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  wl1 = shares_wtl.groupby('ind')['share', 'meanee'].mean()

        share    meanee   sigmash
ind
1    0.176854  0.521694  0.109731
2    0.056631  0.521694  0.062533
3    0.016194  0.521694  0.033462
4    0.008049  0.521694  0.018822
5    0.008483  0.521694  0.021644
6    0.045536  0.521694  0.053200
7    0.007732  0.521694  0.012333
8    0.004165  0.521694  0.020427
9    0.012388  0.521694  0.017502
10   0.181166  0.521694  0.179017
11   0.028142  0.521694  0.055484
12   0.042265  0.521694  0.041939
13   0.014723  0.521694  0.028197
14   0.010993  0.521694  0.018995
15   0.004182  0.521694  0.018752
16   0.042392  0.521694  0.037240
17   0.019014  0.521694  0.038054
18   0.009782  0.521694  0.028494
19   0.002645  0.521694  0.011032
20   0.013809  0.521694  0.038660
21   0.003048  0.521694  0.024905
22   0.035093  0.521694  0.054837
23   0.014349  0.521694  0.047435
24   0.009131  0.521694  0.024700
25   0.005465  0.521694  0.016121
26   0.026882  0.521694  0.048933
27   0.045222  0.521694  0.043558
28   0.027904  0.521694  0.039227
29   0.004488  0.521694  0.014642
30   0.002585  0.521694  0.010845
31   0.007509  0.521694  0.023208
32   0.020604  0.521694  0.036468
33   0.022233  0.521694  0.049807
34   0.037076  0.521694  0.038654
35   0.015193  0.521694  0.070907
36   0.004165  0.521694  0.024926
37   0.001957  0.521694  0.015383
38   0.011953  0.521694  0.039744

In [336]:
wl3.to_stata('shares1')

In [337]:
shares_reg2 = pd.read_stata('shares_reg2.dta')
shares_reg2

,bdum1,bdum2,bdum3,bdum4,bdum5,bdum6,bdum7,bdum8,bdum9,bdum10,...,sgdum29,sgdum30,sgdum31,sgdum32,sgdum33,sgdum34,sgdum35,sgdum36,sgdum37,sgdum38
0,-0.043461,0.000955,-0.003643,-0.000501,0.001451,0.000932,-0.001022,0.002566,-0.001048,-0.005609,...,0.00029,0.000224,0.000432,0.000668,0.000899,0.000795,0.001146,0.000542,0.000304,0.000618

In [338]:
shares_reg2['id'] = np.arange(1, len(shares_reg2)+1)

In [339]:
shares_reg2_long = pd.wide_to_long(shares_reg2,["bdum", "sbdum", "gdum","sgdum"], i='id', j="ind")
shares_reg2_long

            bdum     sbdum      gdum     sgdum
id ind
1  1   -0.043461  0.001381 -0.055895  0.001966
   2    0.000955  0.000914  0.012824  0.001152
   3   -0.003643  0.000489 -0.011548  0.000708
   4   -0.000501  0.000273 -0.000098  0.000362
   5    0.001451  0.000242  0.002291  0.000407
   6    0.000932  0.000765  0.004165  0.001031
   7   -0.001022  0.000177 -0.000011  0.000238
   8    0.002566  0.000267  0.001905  0.000393
   9   -0.001048  0.000396  0.000960  0.000335
   10  -0.005609  0.002033 -0.018290  0.003445
   11   0.007812  0.000607  0.004173  0.001054
   12  -0.003240  0.000485 -0.011139  0.000770
   13  -0.001076  0.000325 -0.002985  0.000506
   14  -0.000205  0.000193 -0.000968  0.000346
   15  -0.000581  0.000228 -0.001890  0.000326
   16  -0.003757  0.000593 -0.000679  0.000697
   17   0.003969  0.000372  0.006442  0.000759
   18  -0.000850  0.000288 -0.003103  0.000465
   19   0.000478  0.000106  0.000908  0.000193
   20   0.005072  0.000427  0.005196  0.000742
   21   0.001555  0.000279  0.000203  0.000451
   22  -0.003713  0.000519 -0.004655  0.000845
   23   0.008059  0.000563  0.003107  0.000940
   24   0.002687  0.000286  0.000096  0.000508
   25   0.000968  0.000184  0.000377  0.000317
   26   0.010442  0.000516  0.012956  0.000955
   27  -0.004710  0.000680 -0.003194  0.000866
   28   0.006530  0.000428  0.004516  0.000755
   29  -0.000195  0.000167 -0.000873  0.000290
   30   0.000879  0.000151  0.001140  0.000224
   31   0.004159  0.000288  0.006389  0.000432
   32  -0.004981  0.000664  0.007418  0.000668
   33   0.006116  0.000650  0.008702  0.000899
   34   0.006663  0.000527  0.011693  0.000795
   35   0.005008  0.000700  0.012844  0.001146
   36   0.002335  0.000315  0.002705  0.000542
   37   0.000192  0.000222  0.001433  0.000304
   38  -0.000235  0.000099  0.002885  0.000618

In [340]:
shares = pd.read_stata('shares1')
shares_joint = pd.merge(shares_reg2_long, shares, on='ind')
shares_joint.rename(columns={'bdum':'incomebeta', 'gdum':'educbeta', 'share':'meansh'}, inplace=True)
shares_joint['elastincome'] = (shares_joint['incomebeta']/shares_joint['meansh'])+1
shares_joint['elastedu'] = (shares_joint['educbeta']*shares_joint['meanee'])/shares_joint['meansh']
shares_joint

,ind,incomebeta,sbdum,educbeta,sgdum,meansh,meanee,sigmash,elastincome,elastedu
0,1,-0.043461,0.001381,-0.055895,0.001966,0.176854,0.521694,0.109731,0.754254,-0.164882
1,2,0.000955,0.000914,0.012824,0.001152,0.056631,0.521694,0.062533,1.016860,0.118137
2,3,-0.003643,0.000489,-0.011548,0.000708,0.016194,0.521694,0.033462,0.775018,-0.372005
3,4,-0.000501,0.000273,-0.000098,0.000362,0.008049,0.521694,0.018822,0.937811,-0.006380
4,5,0.001451,0.000242,0.002291,0.000407,0.008483,0.521694,0.021644,1.170997,0.140890
5,6,0.000932,0.000765,0.004165,0.001031,0.045536,0.521694,0.053200,1.020472,0.047717
6,7,-0.001022,0.000177,-0.000011,0.000238,0.007732,0.521694,0.012333,0.867856,-0.000769
7,8,0.002566,0.000267,0.001905,0.000393,0.004165,0.521694,0.020427,1.616125,0.238530
8,9,-0.001048,0.000396,0.000960,0.000335,0.012388,0.521694,0.017502,0.915421,0.040442
9,10,-0.005609,0.002033,-0.018290,0.003445,0.181166,0.521694,0.179017,0.969039,-0.052668
10,11,0.007812,0.000607,0.004173,0.001054,0.028142,0.521694,0.055484,1.277577,0.077349
11,12,-0.003240,0.000485,-0.011139,0.000770,0.042265,0.521694,0.041939,0.923342,-0.137497
12,13,-0.001076,0.000325,-0.002985,0.000506,0.014723,0.521694,0.028197,0.926893,-0.105769
13,14,-0.000205,0.000193,-0.000968,0.000346,0.010993,0.521694,0.018995,0.981335,-0.045950
14,15,-0.000581,0.000228,-0.001890,0.000326,0.004182,0.521694,0.018752,0.860982,-0.235715
15,16,-0.003757,0.000593,-0.000679,0.000697,0.042392,0.521694,0.037240,0.911379,-0.008354
16,17,0.003969,0.000372,0.006442,0.000759,0.019014,0.521694,0.038054,1.208737,0.176754
17,18,-0.000850,0.000288,-0.003103,0.000465,0.009782,0.521694,0.028494,0.913083,-0.165484
18,19,0.000478,0.000106,0.000908,0.000193,0.002645,0.521694,0.011032,1.180603,0.179080
19,20,0.005072,0.000427,0.005196,0.000742,0.013809,0.521694,0.038660,1.367325,0.196301
20,21,0.001555,0.000279,0.000203,0.000451,0.003048,0.521694,0.024905,1.509987,0.034695
21,22,-0.003713,0.000519,-0.004655,0.000845,0.035093,0.521694,0.054837,0.894187,-0.069208
22,23,0.008059,0.000563,0.003107,0.000940,0.014349,0.521694,0.047435,1.561656,0.112955
23,24,0.002687,0.000286,0.000096,0.000508,0.009131,0.521694,0.024700,1.294268,0.005466
24,25,0.000968,0.000184,0.000377,0.000317,0.005465,0.521694,0.016121,1.177208,0.036016
25,26,0.010442,0.000516,0.012956,0.000955,0.026882,0.521694,0.048933,1.388440,0.251435
26,27,-0.004710,0.000680,-0.003194,0.000866,0.045222,0.521694,0.043558,0.895843,-0.036845
27,28,0.006530,0.000428,0.004516,0.000755,0.027904,0.521694,0.039227,1.234015,0.084424
28,29,-0.000195,0.000167,-0.000873,0.000290,0.004488,0.521694,0.014642,0.956519,-0.101501
29,30,0.000879,0.000151,0.001140,0.000224,0.002585,0.521694,0.010845,1.339869,0.230107
30,31,0.004159,0.000288,0.006389,0.000432,0.007509,0.521694,0.023208,1.553962,0.443930
31,32,-0.004981,0.000664,0.007418,0.000668,0.020604,0.521694,0.036468,0.758254,0.187836
32,33,0.006116,0.000650,0.008702,0.000899,0.022233,0.521694,0.049807,1.275106,0.204198
33,34,0.006663,0.000527,0.011693,0.000795,0.037076,0.521694,0.038654,1.179717,0.164534
34,35,0.005008,0.000700,0.012844,0.001146,0.015193,0.521694,0.070907,1.329635,0.441039
35,36,0.002335,0.000315,0.002705,0.000542,0.004165,0.521694,0.024926,1.560510,0.338845
36,37,0.000192,0.000222,0.001433,0.000304,0.001957,0.521694,0.015383,1.098034,0.382126
37,38,-0.000235,0.000099,0.002885,0.000618,0.011953,0.521694,0.039744,0.980350,0.125899

In [341]:
shares_joint = shares_joint[['ind', 'elastedu', 'elastincome', 'meansh']]
shares_joint.rename(columns={'elastedu':'elasteduS', 'elastincome':'elastincomeS', 'meansh':'meanshS'}, inplace=True)
shares_joint

C:\Users\gimat\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

    ind  elasteduS  elastincomeS   meanshS
0     1  -0.164882      0.754254  0.176854
1     2   0.118137      1.016860  0.056631
2     3  -0.372005      0.775018  0.016194
3     4  -0.006380      0.937811  0.008049
4     5   0.140890      1.170997  0.008483
5     6   0.047717      1.020472  0.045536
6     7  -0.000769      0.867856  0.007732
7     8   0.238530      1.616125  0.004165
8     9   0.040442      0.915421  0.012388
9    10  -0.052668      0.969039  0.181166
10   11   0.077349      1.277577  0.028142
11   12  -0.137497      0.923342  0.042265
12   13  -0.105769      0.926893  0.014723
13   14  -0.045950      0.981335  0.010993
14   15  -0.235715      0.860982  0.004182
15   16  -0.008354      0.911379  0.042392
16   17   0.176754      1.208737  0.019014
17   18  -0.165484      0.913083  0.009782
18   19   0.179080      1.180603  0.002645
19   20   0.196301      1.367325  0.013809
20   21   0.034695      1.509987  0.003048
21   22  -0.069208      0.894187  0.035093
22   23   0.112955      1.561656  0.014349
23   24   0.005466      1.294268  0.009131
24   25   0.036016      1.177208  0.005465
25   26   0.251435      1.388440  0.026882
26   27  -0.036845      0.895843  0.045222
27   28   0.084424      1.234015  0.027904
28   29  -0.101501      0.956519  0.004488
29   30   0.230107      1.339869  0.002585
30   31   0.443930      1.553962  0.007509
31   32   0.187836      0.758254  0.020604
32   33   0.204198      1.275106  0.022233
33   34   0.164534      1.179717  0.037076
34   35   0.441039      1.329635  0.015193
35   36   0.338845      1.560510  0.004165
36   37   0.382126      1.098034  0.001957
37   38   0.125899      0.980350  0.011953

In [342]:
shares_joint.to_stata('elastS')

In [343]:
#Spouse less than college
wifelessH = pd.read_stata('wifelessH')
wifelessH.rename(columns={'foodhome':'share1', 'foodout':'share2', 'tobacco':'share3', 'alcohol':'share4', 'niteclub':'share5', 'clothes':'share6','tailors':'share7', 'jewelry':'share8', 'hlthbeau':'share9', 'renthome':'share10', 'furnish':'share11', 'elect':'share12', 'gas':'share13','water':'share14', 'homefuel':'share15','telephon':'share16', 'servants':'share17', 'drugs':'share18', 'orthopd':'share19', 'doctors':'share20', 'hospital':'share21', 'helthins':'share22', 'busiserv':'share23', 'lifeins':'share24', 'parts':'share25','carservs':'share26', 'gasoline':'share27', 'autoins':'share28', 'masstran':'share29', 'othtrans':'share30', 'airfare':'share31', 'pubs':'share32', 'recsport':'share33', 'othrec':'share34', 'highedu':'share35','lowedu':'share36', 'othedu':'share37', 'charity':'share38'}, inplace=True)
wifelessH = wifelessH[['share1', 'share2', 'share3', 'share4', 'share5', 'share6', 'share7', 'share8', 'share9', 'share10',
 'share11', 'share12', 'share13', 'share14', 'share15', 'share16', 'share17', 'share18', 'share19', 'share20', 'share21', 
'share22', 'share23', 'share24', 'share25', 'share26', 'share27', 'share28', 'share29', 'share30', 'share31', 'share32',
 'share33', 'share34', 'share35', 'share36', 'share37', 'share38','ltotexp', 'age', 'ee', 'sex', 'nchild', 'meanee']]
wifelessH['id'] = np.arange(1, len(wifelessH)+1)
#wide to long
wifelessH_wtl= pd.wide_to_long(wifelessH,['share'], i='id', j="ind")
wifelessH_wtl

            meanee  age  nchild  sex   ee    ltotexp     share
id   ind
1    1    0.521694   41     4.0    1  1.0  10.574195  0.147224
2    1    0.521694   51     3.0    1  1.0  11.053946  0.128312
3    1    0.521694   70     0.0    0  0.0   9.864514  0.225433
4    1    0.521694   77     0.0    0  0.0   9.694923  0.372028
5    1    0.521694   68     0.0    0  1.0  10.543868  0.296836
...            ...  ...     ...  ...  ...        ...       ...
5688 38   0.521694   33     2.0    1  0.0   8.786434  0.000000
5689 38   0.521694   20     0.0    1  0.0   7.869784  0.000000
5690 38   0.521694   38     2.0    1  1.0   9.201602  0.000000
5691 38   0.521694   52     0.0    0  1.0  10.151675  0.039011
5692 38   0.521694   29     1.0    1  0.0   9.642318  0.001623

[216296 rows x 7 columns]

In [344]:
wifelessH_reg = pd.read_stata('wifelessH_reg.dta')
wifelessH_reg['id'] = np.arange(1, len(shares_reg2)+1)
wifelessH_reg

,bdum1,bdum2,bdum3,bdum4,bdum5,bdum6,bdum7,bdum8,bdum9,bdum10,...,sgdum30,sgdum31,sgdum32,sgdum33,sgdum34,sgdum35,sgdum36,sgdum37,sgdum38,id
0,-0.066435,0.015107,-0.003346,0.001038,0.002058,0.01217,-0.000308,0.003751,0.000146,-0.032666,...,0.00027,0.000603,0.000481,0.001373,0.000939,0.001066,0.000823,0.000214,0.001476,1

In [345]:
wifelessH_reg_long = pd.wide_to_long(wifelessH_reg,["bdum", "sbdum", "gdum","sgdum"], i='id', j="ind")
wifelessH_joint = pd.merge(wifelessH_reg_long, shares, on='ind')
wifelessH_joint.rename(columns={'bdum':'incomebeta', 'gdum':'educbeta', 'share':'meansh'}, inplace=True)
wifelessH_joint['elastincome'] = (wifelessH_joint['incomebeta']/wifelessH_joint['meansh'])+1
wifelessH_joint['elastedu'] = (wifelessH_joint['educbeta']*wifelessH_joint['meanee'])/wifelessH_joint['meansh']
wifelessH_joint

wifelessH_joint = wifelessH_joint[['ind', 'elastedu', 'elastincome', 'meansh']]
wifelessH_joint.rename(columns={'elastedu':'elasteduL', 'elastincome':'elastincomeL', 'meansh':'meanshL'}, inplace=True)
wifelessH_joint

    ind  elasteduL  elastincomeL   meanshL
0     1  -0.106461      0.624349  0.176854
1     2   0.095591      1.266754  0.056631
2     3  -0.243762      0.793369  0.016194
3     4   0.020764      1.129009  0.008049
4     5   0.085544      1.242639  0.008483
5     6   0.077894      1.267270  0.045536
6     7  -0.008423      0.960225  0.007732
7     8   0.276287      1.900572  0.004165
8     9   0.036271      1.011753  0.012388
9    10  -0.062812      0.819689  0.181166
10   11   0.188516      1.484077  0.028142
11   12  -0.099284      0.707626  0.042265
12   13  -0.105007      0.759810  0.014723
13   14  -0.024093      0.782677  0.010993
14   15  -0.172430      0.950258  0.004182
15   16  -0.042898      0.842704  0.042392
16   17   0.162507      1.132674  0.019014
17   18  -0.256657      0.979136  0.009782
18   19   0.096264      1.463303  0.002645
19   20   0.114442      1.588163  0.013809
20   21  -0.189762      1.614359  0.003048
21   22  -0.032987      0.798562  0.035093
22   23   0.050758      1.479650  0.014349
23   24   0.184292      1.614111  0.009131
24   25   0.000740      1.255060  0.005465
25   26   0.176786      1.449091  0.026882
26   27  -0.065474      0.836436  0.045222
27   28   0.016788      1.179824  0.027904
28   29  -0.058930      0.958791  0.004488
29   30   0.148652      1.641647  0.002585
30   31   0.189914      1.662386  0.007509
31   32   0.102471      1.221160  0.020604
32   33   0.173436      1.698834  0.022233
33   34   0.133068      1.303317  0.037076
34   35   0.190668      1.397938  0.015193
35   36   0.323419      1.970413  0.004165
36   37   0.214678      1.590802  0.001957
37   38   0.296500      1.078838  0.011953

In [346]:
wifelessH_joint.to_stata('elastL')

In [347]:
elastL = pd.read_stata('elastL')
elastL

    index  ind  elasteduL  elastincomeL   meanshL
0       0    1  -0.106461      0.624349  0.176854
1       1    2   0.095591      1.266754  0.056631
2       2    3  -0.243762      0.793369  0.016194
3       3    4   0.020764      1.129009  0.008049
4       4    5   0.085544      1.242639  0.008483
5       5    6   0.077894      1.267270  0.045536
6       6    7  -0.008423      0.960225  0.007732
7       7    8   0.276287      1.900572  0.004165
8       8    9   0.036271      1.011753  0.012388
9       9   10  -0.062812      0.819689  0.181166
10     10   11   0.188516      1.484077  0.028142
11     11   12  -0.099284      0.707626  0.042265
12     12   13  -0.105007      0.759810  0.014723
13     13   14  -0.024093      0.782677  0.010993
14     14   15  -0.172430      0.950258  0.004182
15     15   16  -0.042898      0.842704  0.042392
16     16   17   0.162507      1.132674  0.019014
17     17   18  -0.256657      0.979136  0.009782
18     18   19   0.096264      1.463303  0.002645
19     19   20   0.114442      1.588163  0.013809
20     20   21  -0.189762      1.614359  0.003048
21     21   22  -0.032987      0.798562  0.035093
22     22   23   0.050758      1.479650  0.014349
23     23   24   0.184292      1.614111  0.009131
24     24   25   0.000740      1.255060  0.005465
25     25   26   0.176786      1.449091  0.026882
26     26   27  -0.065474      0.836436  0.045222
27     27   28   0.016788      1.179824  0.027904
28     28   29  -0.058930      0.958791  0.004488
29     29   30   0.148652      1.641647  0.002585
30     30   31   0.189914      1.662386  0.007509
31     31   32   0.102471      1.221160  0.020604
32     32   33   0.173436      1.698834  0.022233
33     33   34   0.133068      1.303317  0.037076
34     34   35   0.190668      1.397938  0.015193
35     35   36   0.323419      1.970413  0.004165
36     36   37   0.214678      1.590802  0.001957
37     37   38   0.296500      1.078838  0.011953

In [348]:
elastH = pd.read_stata('elastH')
elastS = pd.read_stata('elastS')
elastL = pd.read_stata('elastL')
elastLH = pd.merge(elastL, elastH, on='ind')
elarst_merged = pd.merge(elastLH, elastS, on='ind')
elarst_merged = elarst_merged.drop(columns=['index', 'index_y','index_x'])
elarst_merged

,ind,elasteduL,elastincomeL,meanshL,elasteduH,elastincomeH,meanshH,elasteduS,elastincomeS,meanshS
0,1,-0.106461,0.624349,0.176854,-0.063065,0.676503,0.176854,-0.164882,0.754254,0.176854
1,2,0.095591,1.266754,0.056631,0.069615,1.181903,0.056631,0.118137,1.016860,0.056631
2,3,-0.243762,0.793369,0.016194,-0.258255,0.873914,0.016194,-0.372005,0.775018,0.016194
3,4,0.020764,1.129009,0.008049,0.020808,1.054857,0.008049,-0.006380,0.937811,0.008049
4,5,0.085544,1.242639,0.008483,0.043705,1.236743,0.008483,0.140890,1.170997,0.008483
5,6,0.077894,1.267270,0.045536,0.053189,1.202788,0.045536,0.047717,1.020472,0.045536
6,7,-0.008423,0.960225,0.007732,0.108406,1.135936,0.007732,-0.000769,0.867856,0.007732
7,8,0.276287,1.900572,0.004165,-0.058466,1.930944,0.004165,0.238530,1.616125,0.004165
8,9,0.036271,1.011753,0.012388,-0.009803,0.852797,0.012388,0.040442,0.915421,0.012388
9,10,-0.062812,0.819689,0.181166,-0.003544,0.877479,0.181166,-0.052668,0.969039,0.181166
10,11,0.188516,1.484077,0.028142,0.069274,1.304060,0.028142,0.077349,1.277577,0.028142
11,12,-0.099284,0.707626,0.042265,-0.126209,0.714811,0.042265,-0.137497,0.923342,0.042265
12,13,-0.105007,0.759810,0.014723,-0.003296,0.846984,0.014723,-0.105769,0.926893,0.014723
13,14,-0.024093,0.782677,0.010993,-0.019341,0.811121,0.010993,-0.045950,0.981335,0.010993
14,15,-0.172430,0.950258,0.004182,-0.224153,0.887428,0.004182,-0.235715,0.860982,0.004182
15,16,-0.042898,0.842704,0.042392,-0.037236,0.819115,0.042392,-0.008354,0.911379,0.042392
16,17,0.162507,1.132674,0.019014,0.208370,1.317138,0.019014,0.176754,1.208737,0.019014
17,18,-0.256657,0.979136,0.009782,-0.190766,0.942978,0.009782,-0.165484,0.913083,0.009782
18,19,0.096264,1.463303,0.002645,0.097126,1.168419,0.002645,0.179080,1.180603,0.002645
19,20,0.114442,1.588163,0.013809,-0.040999,1.324493,0.013809,0.196301,1.367325,0.013809
20,21,-0.189762,1.614359,0.003048,0.008307,1.544923,0.003048,0.034695,1.509987,0.003048
21,22,-0.032987,0.798562,0.035093,-0.108855,0.681325,0.035093,-0.069208,0.894187,0.035093
22,23,0.050758,1.479650,0.014349,-0.096188,1.308325,0.014349,0.112955,1.561656,0.014349
23,24,0.184292,1.614111,0.009131,0.076609,1.657005,0.009131,0.005466,1.294268,0.009131
24,25,0.000740,1.255060,0.005465,-0.191684,0.952711,0.005465,0.036016,1.177208,0.005465
25,26,0.176786,1.449091,0.026882,0.120619,1.474384,0.026882,0.251435,1.388440,0.026882
26,27,-0.065474,0.836436,0.045222,-0.124791,0.718425,0.045222,-0.036845,0.895843,0.045222
27,28,0.016788,1.179824,0.027904,-0.061701,0.901677,0.027904,0.084424,1.234015,0.027904
28,29,-0.058930,0.958791,0.004488,0.122057,1.064057,0.004488,-0.101501,0.956519,0.004488
29,30,0.148652,1.641647,0.002585,0.179643,1.978212,0.002585,0.230107,1.339869,0.002585
30,31,0.189914,1.662386,0.007509,0.441203,2.059869,0.007509,0.443930,1.553962,0.007509
31,32,0.102471,1.221160,0.020604,0.082034,1.143283,0.020604,0.187836,0.758254,0.020604
32,33,0.173436,1.698834,0.022233,0.091031,1.761053,0.022233,0.204198,1.275106,0.022233
33,34,0.133068,1.303317,0.037076,0.145700,1.354550,0.037076,0.164534,1.179717,0.037076
34,35,0.190668,1.397938,0.015193,0.249361,1.683679,0.015193,0.441039,1.329635,0.015193
35,36,0.323419,1.970413,0.004165,0.342788,2.637930,0.004165,0.338845,1.560510,0.004165
36,37,0.214678,1.590802,0.001957,0.456497,2.235269,0.001957,0.382126,1.098034,0.001957
37,38,0.296500,1.078838,0.011953,0.256978,1.049210,0.011953,0.125899,0.980350,0.011953

In [349]:
############TABLE3

In [350]:
#???????????????????????????????????????????????????????????????????????????????????????????????????????????????????
#problem in the elastincH, different coef HL and HS
#Correlation1
corr1 = pd.DataFrame(elarst_merged,columns=['elastincomeS', 'elastincomeH', 'elastincomeL'])
corrMatrix1 = corr1.corr()
corrMatrix1

              elastincomeS  elastincomeH  elastincomeL
elastincomeS      1.000000      0.755564      0.866881
elastincomeH      0.755564      1.000000      0.894114
elastincomeL      0.866881      0.894114      1.000000

In [351]:
#???????????????????????????????????????????????????????????????????????????????????????????????????????????????????
#problem in the elastincH, different coef HL and HS
#Correlation2
corr2 = pd.DataFrame(elarst_merged,columns=['elasteduS', 'elasteduH', 'elasteduL'])
corrMatrix2 = corr2.corr()
corrMatrix2

           elasteduS  elasteduH  elasteduL
elasteduS   1.000000   0.792649   0.844203
elasteduH   0.792649   1.000000   0.735504
elasteduL   0.844203   0.735504   1.000000

In [352]:
elarst_merged['sic'] = np.nan

elarst_merged.loc[elarst_merged['ind'] == 1, 'sic'] = 17 
elarst_merged.loc[elarst_merged['ind'] == 2, 'sic'] = 121 
elarst_merged.loc[elarst_merged['ind'] == 3, 'sic'] = 19
elarst_merged.loc[elarst_merged['ind'] == 4, 'sic'] = 18 
elarst_merged.loc[elarst_merged['ind'] == 5, 'sic'] = 121 
elarst_merged.loc[elarst_merged['ind'] == 6, 'sic'] = 22
elarst_merged.loc[elarst_merged['ind'] == 7, 'sic'] = 124 
elarst_merged.loc[elarst_merged['ind'] == 8, 'sic'] = 45
elarst_merged.loc[elarst_merged['ind'] == 9, 'sic'] = 124 
elarst_merged.loc[elarst_merged['ind'] == 10, 'sic'] = 14 

elarst_merged.loc[elarst_merged['ind'] == 11, 'sic'] = 67 
elarst_merged.loc[elarst_merged['ind'] == 12, 'sic'] = 11 
elarst_merged.loc[elarst_merged['ind'] == 13, 'sic'] = 12
elarst_merged.loc[elarst_merged['ind'] == 14, 'sic'] = 13 
elarst_merged.loc[elarst_merged['ind'] == 15, 'sic'] = 6 
elarst_merged.loc[elarst_merged['ind'] == 16, 'sic'] = 86
elarst_merged.loc[elarst_merged['ind'] == 17, 'sic'] = 124 
elarst_merged.loc[elarst_merged['ind'] == 18, 'sic'] = 32
elarst_merged.loc[elarst_merged['ind'] == 19, 'sic'] = 68 
elarst_merged.loc[elarst_merged['ind'] == 20, 'sic'] = 116 

elarst_merged.loc[elarst_merged['ind'] == 21, 'sic'] = 115 
elarst_merged.loc[elarst_merged['ind'] == 22, 'sic'] = 91 
elarst_merged.loc[elarst_merged['ind'] == 23, 'sic'] = 104
elarst_merged.loc[elarst_merged['ind'] == 24, 'sic'] = 92
elarst_merged.loc[elarst_merged['ind'] == 25, 'sic'] = 64
elarst_merged.loc[elarst_merged['ind'] == 26, 'sic'] = 122
elarst_merged.loc[elarst_merged['ind'] == 27, 'sic'] = 6 
elarst_merged.loc[elarst_merged['ind'] == 28, 'sic'] = 95
elarst_merged.loc[elarst_merged['ind'] == 29, 'sic'] = 76 
elarst_merged.loc[elarst_merged['ind'] == 30, 'sic'] = 73 

elarst_merged.loc[elarst_merged['ind'] == 31, 'sic'] = 72
elarst_merged.loc[elarst_merged['ind'] == 32, 'sic'] = 81 
elarst_merged.loc[elarst_merged['ind'] == 33, 'sic'] = 118
elarst_merged.loc[elarst_merged['ind'] == 34, 'sic'] = 119
elarst_merged.loc[elarst_merged['ind'] == 35, 'sic'] = 113 
elarst_merged.loc[elarst_merged['ind'] == 36, 'sic'] = 113
elarst_merged.loc[elarst_merged['ind'] == 37, 'sic'] = 113 
elarst_merged.loc[elarst_merged['ind'] == 38, 'sic'] = 126

In [296]:
skilloecdUS = pd.read_stata('skilloecdUS')
elarst_merged_new = pd.merge(elarst_merged, skilloecdUS, on='sic')

In [297]:
elarst_merged_new['skiloecd2'] = elarst_merged_new['skiloecd'] **2

In [353]:
elarst_merged_new

,ind,elasteduL,elastincomeL,meanshL,elasteduH,elastincomeH,meanshH,elasteduS,elastincomeS,meanshS,sic,id,skiloecd,skiloecd2
0,1,-0.106461,0.624349,0.176854,-0.063065,0.676503,0.176854,-0.164882,0.754254,0.176854,17.0,1,0.330670,0.109343
1,2,0.095591,1.266754,0.056631,0.069615,1.181903,0.056631,0.118137,1.016860,0.056631,121.0,1,0.295848,0.087526
2,5,0.085544,1.242639,0.008483,0.043705,1.236743,0.008483,0.140890,1.170997,0.008483,121.0,1,0.295848,0.087526
3,3,-0.243762,0.793369,0.016194,-0.258255,0.873914,0.016194,-0.372005,0.775018,0.016194,19.0,1,0.437436,0.191350
4,4,0.020764,1.129009,0.008049,0.020808,1.054857,0.008049,-0.006380,0.937811,0.008049,18.0,1,0.333927,0.111507
5,6,0.077894,1.267270,0.045536,0.053189,1.202788,0.045536,0.047717,1.020472,0.045536,22.0,1,0.245101,0.060075
6,7,-0.008423,0.960225,0.007732,0.108406,1.135936,0.007732,-0.000769,0.867856,0.007732,124.0,1,0.327385,0.107181
7,9,0.036271,1.011753,0.012388,-0.009803,0.852797,0.012388,0.040442,0.915421,0.012388,124.0,1,0.327385,0.107181
8,17,0.162507,1.132674,0.019014,0.208370,1.317138,0.019014,0.176754,1.208737,0.019014,124.0,1,0.327385,0.107181
9,8,0.276287,1.900572,0.004165,-0.058466,1.930944,0.004165,0.238530,1.616125,0.004165,45.0,1,0.386692,0.149531
10,10,-0.062812,0.819689,0.181166,-0.003544,0.877479,0.181166,-0.052668,0.969039,0.181166,14.0,1,0.325573,0.105998
11,11,0.188516,1.484077,0.028142,0.069274,1.304060,0.028142,0.077349,1.277577,0.028142,67.0,1,0.245946,0.060489
12,12,-0.099284,0.707626,0.042265,-0.126209,0.714811,0.042265,-0.137497,0.923342,0.042265,11.0,1,0.401524,0.161221
13,13,-0.105007,0.759810,0.014723,-0.003296,0.846984,0.014723,-0.105769,0.926893,0.014723,12.0,1,0.396603,0.157294
14,14,-0.024093,0.782677,0.010993,-0.019341,0.811121,0.010993,-0.045950,0.981335,0.010993,13.0,1,0.392513,0.154067
15,15,-0.172430,0.950258,0.004182,-0.224153,0.887428,0.004182,-0.235715,0.860982,0.004182,6.0,1,0.438808,0.192553
16,27,-0.065474,0.836436,0.045222,-0.124791,0.718425,0.045222,-0.036845,0.895843,0.045222,6.0,1,0.438808,0.192553
17,16,-0.042898,0.842704,0.042392,-0.037236,0.819115,0.042392,-0.008354,0.911379,0.042392,86.0,1,0.465543,0.216730
18,18,-0.256657,0.979136,0.009782,-0.190766,0.942978,0.009782,-0.165484,0.913083,0.009782,32.0,1,0.488510,0.238642
19,19,0.096264,1.463303,0.002645,0.097126,1.168419,0.002645,0.179080,1.180603,0.002645,68.0,1,0.395861,0.156706
20,20,0.114442,1.588163,0.013809,-0.040999,1.324493,0.013809,0.196301,1.367325,0.013809,116.0,1,0.544748,0.296751
21,21,-0.189762,1.614359,0.003048,0.008307,1.544923,0.003048,0.034695,1.509987,0.003048,115.0,1,0.532271,0.283313
22,22,-0.032987,0.798562,0.035093,-0.108855,0.681325,0.035093,-0.069208,0.894187,0.035093,91.0,1,0.370224,0.137066
23,23,0.050758,1.479650,0.014349,-0.096188,1.308325,0.014349,0.112955,1.561656,0.014349,104.0,1,0.596748,0.356108
24,24,0.184292,1.614111,0.009131,0.076609,1.657005,0.009131,0.005466,1.294268,0.009131,92.0,1,0.405932,0.164781
25,25,0.000740,1.255060,0.005465,-0.191684,0.952711,0.005465,0.036016,1.177208,0.005465,64.0,1,0.382268,0.146129
26,26,0.176786,1.449091,0.026882,0.120619,1.474384,0.026882,0.251435,1.388440,0.026882,122.0,1,0.301061,0.090638
27,28,0.016788,1.179824,0.027904,-0.061701,0.901677,0.027904,0.084424,1.234015,0.027904,95.0,1,0.502874,0.252883
28,29,-0.058930,0.958791,0.004488,0.122057,1.064057,0.004488,-0.101501,0.956519,0.004488,76.0,1,0.376892,0.142048
29,30,0.148652,1.641647,0.002585,0.179643,1.978212,0.002585,0.230107,1.339869,0.002585,73.0,1,0.380832,0.145033
30,31,0.189914,1.662386,0.007509,0.441203,2.059869,0.007509,0.443930,1.553962,0.007509,72.0,1,0.398603,0.158884
31,32,0.102471,1.221160,0.020604,0.082034,1.143283,0.020604,0.187836,0.758254,0.020604,81.0,1,0.453770,0.205908
32,33,0.173436,1.698834,0.022233,0.091031,1.761053,0.022233,0.204198,1.275106,0.022233,118.0,1,0.455010,0.207034
33,34,0.133068,1.303317,0.037076,0.145700,1.354550,0.037076,0.164534,1.179717,0.037076,119.0,1,0.449022,0.201621
34,35,0.190668,1.397938,0.015193,0.249361,1.683679,0.015193,0.441039,1.329635,0.015193,113.0,1,0.678913,0.460923
35,36,0.323419,1.970413,0.004165,0.342788,2.637930,0.004165,0.338845,1.560510,0.004165,113.0,1,0.678913,0.460923
36,37,0.214678,1.590802,0.001957,0.456497,2.235269,0.001957,0.382126,1.098034,0.001957,113.0,1,0.678913,0.460923
37,38,0.296500,1.078838,0.011953,0.256978,1.049210,0.011953,0.125899,0.980350,0.011953,126.0,1,0.565498,0.319787

In [354]:
from scipy import stats
import statsmodels.api as sm
import matplotlib.pyplot as plt
from statsmodels.sandbox.regression.predstd import wls_prediction_std

In [355]:
#1st regression function and results
Y = elarst_merged_new["elasteduS"]
X = elarst_merged_new["skiloecd"]
w = elarst_merged_new["meanshS"]
X = sm.add_constant(X)
model = sm.WLS(Y,X,w)
results3 = model.fit()
print(results3.summary())

                            WLS Regression Results
==============================================================================
Dep. Variable:              elasteduS   R-squared:                       0.103
Model:                            WLS   Adj. R-squared:                  0.079
Method:                 Least Squares   F-statistic:                     4.152
Date:                Wed, 17 Mar 2021   Prob (F-statistic):             0.0490
Time:                        16:03:15   Log-Likelihood:                 8.5788
No. Observations:                  38   AIC:                            -13.16
Df Residuals:                      36   BIC:                            -9.882
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.2014      0.102     -1.982      0.055      -0.408       0.005
skiloecd       0.5372      0.264      2.038      0.049       0.003       1.072
==============================================================================
Omnibus:                        4.375   Durbin-Watson:                   1.625
Prob(Omnibus):                  0.112   Jarque-Bera (JB):                3.019
Skew:                          -0.607   Prob(JB):                        0.221
Kurtosis:                       3.658   Cond. No.                         12.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [356]:
#2nd regression function and results
X = elarst_merged_new[["skiloecd","skiloecd2"]] 
y = elarst_merged_new["elasteduS"]
w = elarst_merged_new["meanshS"]
## fit a WLS model 
X = sm.add_constant(X)
est = sm.WLS(y, X, w).fit()
print(est.summary())

                            WLS Regression Results
==============================================================================
Dep. Variable:              elasteduS   R-squared:                       0.282
Model:                            WLS   Adj. R-squared:                  0.241
Method:                 Least Squares   F-statistic:                     6.859
Date:                Wed, 17 Mar 2021   Prob (F-statistic):            0.00307
Time:                        16:03:16   Log-Likelihood:                 12.788
No. Observations:                  38   AIC:                            -19.58
Df Residuals:                      35   BIC:                            -14.66
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.7208      0.326      2.209      0.034       0.058       1.383
skiloecd      -4.0519      1.576     -2.571      0.015      -7.251      -0.853
skiloecd2      5.3743      1.824      2.946      0.006       1.671       9.078
==============================================================================
Omnibus:                        4.035   Durbin-Watson:                   1.441
Prob(Omnibus):                  0.133   Jarque-Bera (JB):                2.901
Skew:                          -0.399   Prob(JB):                        0.235
Kurtosis:                       4.094   Cond. No.                         122.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [357]:
#3rd regression function and results
Y = elarst_merged_new["elasteduL"]
X = elarst_merged_new["skiloecd"]
w = elarst_merged_new["meanshL"]
X = sm.add_constant(X)
model = sm.WLS(Y,X,w)
results3 = model.fit()
print(results3.summary()) 

#4th regression function and results
X = elarst_merged_new[["skiloecd","skiloecd2"]] 
y = elarst_merged_new["elasteduL"]
w = elarst_merged_new["meanshL"]
## fit a WLS model 
X = sm.add_constant(X)
est = sm.WLS(y, X, w).fit()
print(est.summary())

                            WLS Regression Results
==============================================================================
Dep. Variable:              elasteduL   R-squared:                       0.024
Model:                            WLS   Adj. R-squared:                 -0.003
Method:                 Least Squares   F-statistic:                    0.8762
Date:                Wed, 17 Mar 2021   Prob (F-statistic):              0.355
Time:                        16:03:16   Log-Likelihood:                 16.398
No. Observations:                  38   AIC:                            -28.80
Df Residuals:                      36   BIC:                            -25.52
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0753      0.083     -0.911      0.369      -0.243       0.092
skiloecd       0.2009      0.215      0.936      0.355      -0.234       0.636
==============================================================================
Omnibus:                        1.442   Durbin-Watson:                   1.753
Prob(Omnibus):                  0.486   Jarque-Bera (JB):                1.397
Skew:                          -0.410   Prob(JB):                        0.497
Kurtosis:                       2.544   Cond. No.                         12.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
                            WLS Regression Results
==============================================================================
Dep. Variable:              elasteduL   R-squared:                       0.223
Model:                            WLS   Adj. R-squared:                  0.178
Method:                 Least Squares   F-statistic:                     5.019
Date:                Wed, 17 Mar 2021   Prob (F-statistic):             0.0121
Time:                        16:03:16   Log-Likelihood:                 20.732
No. Observations:                  38   AIC:                            -35.46
Df Residuals:                      35   BIC:                            -30.55
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6852      0.265      2.588      0.014       0.148       1.223
skiloecd      -3.5838      1.279     -2.803      0.008      -6.180      -0.988
skiloecd2      4.4323      1.480      2.995      0.005       1.428       7.437
==============================================================================
Omnibus:                        0.611   Durbin-Watson:                   1.765
Prob(Omnibus):                  0.737   Jarque-Bera (JB):                0.621
Skew:                          -0.275   Prob(JB):                        0.733
Kurtosis:                       2.699   Cond. No.                         122.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [358]:
#5th regression function and results
Y = elarst_merged_new["elasteduH"]
X = elarst_merged_new["skiloecd"]
w = elarst_merged_new["meanshH"]
X = sm.add_constant(X)
model = sm.WLS(Y,X,w)
results3 = model.fit()
print(results3.summary()) 

#6th regression function and results
X = elarst_merged_new[["skiloecd","skiloecd2"]] 
y = elarst_merged_new["elasteduH"]
w = elarst_merged_new["meanshH"]
## fit a WLS model 
X = sm.add_constant(X)
est = sm.WLS(y, X, w).fit()
print(est.summary())

                            WLS Regression Results
==============================================================================
Dep. Variable:              elasteduH   R-squared:                       0.004
Model:                            WLS   Adj. R-squared:                 -0.024
Method:                 Least Squares   F-statistic:                    0.1370
Date:                Wed, 17 Mar 2021   Prob (F-statistic):              0.713
Time:                        16:03:17   Log-Likelihood:                 18.369
No. Observations:                  38   AIC:                            -32.74
Df Residuals:                      36   BIC:                            -29.46
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0283      0.079     -0.360      0.721      -0.188       0.131
skiloecd       0.0754      0.204      0.370      0.713      -0.338       0.489
==============================================================================
Omnibus:                        1.102   Durbin-Watson:                   1.413
Prob(Omnibus):                  0.576   Jarque-Bera (JB):                0.931
Skew:                          -0.123   Prob(JB):                        0.628
Kurtosis:                       2.274   Cond. No.                         12.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
                            WLS Regression Results
==============================================================================
Dep. Variable:              elasteduH   R-squared:                       0.207
Model:                            WLS   Adj. R-squared:                  0.162
Method:                 Least Squares   F-statistic:                     4.566
Date:                Wed, 17 Mar 2021   Prob (F-statistic):             0.0173
Time:                        16:03:17   Log-Likelihood:                 22.702
No. Observations:                  38   AIC:                            -39.40
Df Residuals:                      35   BIC:                            -34.49
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6937      0.251      2.759      0.009       0.183       1.204
skiloecd      -3.5174      1.214     -2.897      0.006      -5.982      -1.053
skiloecd2      4.2075      1.405      2.994      0.005       1.355       7.060
==============================================================================
Omnibus:                        1.133   Durbin-Watson:                   1.559
Prob(Omnibus):                  0.567   Jarque-Bera (JB):                0.763
Skew:                           0.347   Prob(JB):                        0.683
Kurtosis:                       2.965   Cond. No.                         122.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.